{%extends 'base.html'%}
{% load static %}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/mainStyles.css'%}">
    <title> {% block title %}Comment on blog post{% endblock %}</title>
</head>
<body>
    <section class="addPostSection">
        <h1>Comment on blog post</h1>
        <br>

        <div class="form-group">
            <form action="" method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                {{form.as_p}}
                <button class="btn btn-secondary">Add comment</button>
            </form>
        </div>
        <br><br><br><br><br><br><br><br>    
    </section>
    
    
</body>

</html>



{%endblock%}
