{%extends 'base.html'%} 
{% load static %}
{%block content%}

    <title>{%block title%}Adopt a girl || Positive young women voices {%endblock%}</title>

    <section class="adoptSection">
      <div class="imgAndTxtContainer">
        <div>
          <h2>Adopt a girls month</h2>
          <p>
            JJ had her first period when she was 14 years old and had just
            joined high school. She had been waiting for this and knew that it
            would happen as almost all girls in her last class in primary school
            had fuller chest and carried their sanitary towels when it was that
            time of the month. Other than the information that was shared in
            schools by the science teacher, she did not know what it would feel
            like and be like and had no one to speak to. Not about boys, or the
            feelings, or the blood and how much and so on. There was so much
            information that she didn’t know what was what. Then her periods
            started, she felt a little wet and there it was, nothing like she
            thought it would be. She was scared of asking for money from her
            parents as they never had this discussion before and she did not
            want this to be used to shame her even further. She used what she
            could, pieces oc cloth, some bit of the matress until she had enough
            money saved up from taking a little or buying a little less than
            what she was sent for at the shops. She could only afford one pack
            and this meant staying with one pad the whole day. Sometimes there
            were accidents and not even her friends ever asked why or asked to
            help. This was an embarrassing part of her being and she did not
            know who to tell. This is the story of most girls in our Community,
            Dandora and some unfortunately are forced into relationships that
            are transactional in order to buy a pack of pads. With the times
            getting harder, the situation gets worse and that is why at Positive
            Young Women Voices, we have taken it upon us to provide sanitary
            towels with your help and to be a sister’s keeper by offering
            mentorship monthly to 40 adolescent girls and 20 girls in 2
            community high schools. Pre- COVID, we were serving 120 girls with
            sanitary towels and we had to innovate how we distributed sanitary
            towels when he schools were closed and our office as well as Dandora
            Library became the safe spaces to meet and speak with our girls.
            Because we have stood up for her, you and us, she will now stay in
            school and will be protected from situations that put her at risk.
            She will enjoy being a girl. One pack of sanitary towels goes for
            Ksh. 50 and two packs can go a long way in keeping her safe. Thank
            you for adopting a girl’s month today. You are the true hero! A
            Girl’s Hero! To donate, follow this
            <a href="https://www.changa.co.ke/fundraiser/14948" target="_blank"
              >link</a
            >
          </p>
        </div>
      </div>
    </section>

{%endblock%}