{%extends 'base.html'%} 
{% load static %}
{%block content%}
{%include 'head.html'%}


    <title>{%block title%}Beryl Wafula || Positive young women voices {%endblock%}</title>
  
    <section class="personSection">
        <div class="myDiv">
          <img
            src="{%static 'images/beryl-pywv.jpg'%}"
            alt="Anne Mugo Positive young women"
            class="personImg"
          />

          <div>
              <h4>Beryl Wafula</h4>
              <h6>Socio-economic Empowerment Lead</h6>
              <hr />
              <p>
                Beryl is a mentor and the lead in Socio_ economic empowerment at Positive Young Women Voices empowering young women and girls has always been my passion seeing them grow is a dream come true
              </p>
          </div>
        </div>

    </section>

{%endblock%}