{%extends 'base.html'%} 
{% load static %}
{%block content%}

    <title>{%block title%}Beryl Wafula || Positive young women voices {%endblock%}</title>
  
    <section class="personSection">
        <div class="myDiv">
          <img
            src="https://live.staticflickr.com/65535/52163823129_8eb29f4a2b_k.jpg"
            alt="Anne Mugo Positive young women"
            class="personImg"
          />

          <div>
              <h4>Beryl Wafula</h4>
              <h6>Socio-economic Empowerment Lead</h6>
              <hr />
              <p>
                Beryl is a mentor and the lead in Socio_ economic empowerment at Positive Young Women Voices empowering young women and girls has always been my passion seeing them grow is a dream come true
              </p>
          </div>
        </div>

    </section>

{%endblock%}