{%extends 'base.html'%} 
{% load static %}
{%block content%}
{%include 'head.html'%}


    <title>{%block title%}Community engagement || pywv {%endblock%}</title>

    <section class="mensSection">
      <div class="holdingContainer">

        <div class="">
          <h1>Community engagement</h1> <br>
         <img src="../../static/images/communityEngagement.JPG" alt="PYWV Volunteers displaying information on how to end violence against women and girls during an outreach in Dandora phase 4">
           <br><br>
          <p>
            We hold <strong>monthly community outreaches</strong>  and <strong>dialogues</strong>  on <strong>violence against women and girls in their diversity</strong> . Our outreaches are an avenue for us to listen, inform and respond to the needs of community members within the five phases in <strong>Dandora</strong> , all while creating  linkages with local authorities on SGBV response, raising awareness on our programmes  and offering referrals to SRH services for women and girls.    <strong>Community Dialogues</strong>     
             are structured forums derived from the outreaches, bringing together select members from the community to discuss peaceful means of solving conflicts, with a focus on preventing violence against women and girls in homes and within intimate partner relationships

            <br> <br>

   
          </p>
        </div>
      </div>
    </section>

{%endblock%}
