{%extends 'base.html'%} 
{%load static%}
{%block content%}
{%include 'head.html'%}

    <title>{%block title%}Contact us || Positive young women voices {%endblock%}</title>   

    <section class="reachUs">

      {% if name %}
      <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <strong>Submited successfully</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <div class="reachDiv">
        <div class="leftColored">
          <h2>Get in touch</h2>
        
          <hr>

          <div class="contColl">

            <img
              src="{%static 'images/callLogo.png'%}"
              alt="call logo positive young women voices"
            />
            <h5><span> Call us:</span> <a href="">+254705973115</a></h5>
          </div>

          <div class="contColl">
            <img
              src="{%static 'images/smsLogo.png'%}"
              alt="sms logo positive young women voices"
            />
            <h5><span>Text:</span> <a href="">+254705973115</a></h5>
          </div>

          <div class="contColl">
          <img
            src="{%static 'images/gmailLogo.png'%}"
            alt="gmail logo positive young women voices"
          />
          <h5>
            <span> Email:</span> <a href="">info@pywv.org</a>
          </h5>
        </div>

        
        </div>

        <div class="formDiv">
          <h1>What's on your mind?</h1>

          <form method="post">
            {%csrf_token%}
            <label for="name">Name *</label>
            <input name="name" id="name" type="text" placeholder="e.g John Doe" required />
            <label for="email">Email *</label>
            <input name="email" id="email" type="email" placeholder="e.g john@gmail.com" required />
            <label for="phoneNumber">Phone number *</label>
            <input name="phone" id="phone" type="tel" placeholder="e.g +254724753175" required />
            <label for="message">Message *</label>
            <textarea
              name="message"
              id="message"
              cols="30"
              rows="5"
              required
              placeholder="Your message here"
            ></textarea>
            <input class="subBtn" type="submit"/>
          </form>
        </div>
      </div>
      
      {%else%}
     

      <div class="reachDiv">
        <div class="leftColored">
          <h2>Get in touch</h2>
        
          <hr>

          <div class="contColl">

            <img
              src="{%static 'images/callLogo.png'%}"
              alt="call logo positive young women voices"
            />
            <h5><span> Call us:</span> <a href="">+254705973115</a></h5>
          </div>

          <div class="contColl">
            <img
              src="{%static 'images/smsLogo.png'%}"
              alt="sms logo positive young women voices"
            />
            <h5><span>Text:</span> <a href="">+254705973115</a></h5>
          </div>

          <div class="contColl">
          <img
            src="{%static 'images/gmailLogo.png'%}"
            alt="gmail logo positive young women voices"
          />
          <h5>
            <span> Email:</span> <a href="">info@pywv.org</a>
          </h5>
        </div>

        
        </div>

        <div class="formDiv">
          <h1>What's on your mind?</h1>

          <form method="post">
            {%csrf_token%}
            <label for="name">Name *</label>
            <input name="name" id="name" type="text" placeholder="e.g John Doe" required />
            <label for="email">Email *</label>
            <input name="email" id="email" type="email" placeholder="e.g john@gmail.com" required />
            <label for="phoneNumber">Phone number *</label>
            <input name="phone" id="phone" type="tel" placeholder="e.g +254724753175" required />
            <label for="message">Message *</label>
            <textarea
              name="message"
              id="message"
              cols="30"
              rows="5"
              required
              placeholder="Your message here"
            ></textarea>
            <button class="subBtn" type="submit">Submit</button>
          </form>
        </div>
      </div>

      {%endif%}
      
    </section>

    

      <div style="display:none ;" class="slider">
        <ul>
          <li class="image3Li">
            <div class="center-y">
            </div>
          </li>
        </ul>

        <ul>
          <nav>
            <a href="#"></a>
          </nav>
        </ul>
      </div>


 


 
  

{%endblock%}
