{%extends 'base.html'%} 
{% load static %}
{%block content%}
{%include 'head.html'%}


    <title>{%block title%}Cynthia Buchira || Positive young women voices {%endblock%}</title>
   
    <section class="personSection">
        <div class="myDiv">
          <img
            src="{%static 'images/buchira-pywv.jpg'%}"
            alt="Cynthia Buchira Positive young women"
            class="personImg"
          />

          <div>
              <h4>Cynthia Buchira</h4>
              <h6>Advisory board member</h6>
              <hr />
              <p>
                Cynthia Buchira is a young visionary HIV prevention Ambassador and advocate, recently
                appointed as a member of the positive young
                women voices Advisory Group. My passion as a
                volunteer at PYWV comes from a life long obsession to end HIV stigma and new infections and
                also end GBV among Adolescent girls and young women. The simple act of shaping the
                community to make something functional or beautiful brings me endless satisfaction.
              </p>
          </div>
        </div>

    </section>

{%endblock%}