{%extends 'base.html'%}
{%load static%}
{%block content%}
{%include 'head.html'%}


    <title>{%block title%} Delete post {%endblock%}</title>

    <section class="addPostSection">
                
        {%if user.is_authenticated%}
        {%if user.id == post.author.id%}


        <h1><strong>Delete post</strong> </h1>
        <br><br>

        

        <div class="form-group">
            <h2>Delete:</h2> <br><br> <h3> {{post.title}}</h3> 
        <br>
            <form action="" method="POST">
                {%csrf_token%}

                <button class="btn btn-secondary">Delete</button>
            </form>
        </div>

        {%else%}
        You don't have permission
        {%endif%}

        {%else%}

        You need to login or signup

        {%endif%}
    </section>

{%endblock%}
