{%extends 'base.html'%} 
{% load static %}
{%block content%}
{%include 'head.html'%}


    <title>{%block title%}Prevention And Ending Violence Against Women And Girls || Positive young women voices {%endblock%}</title>

    <section class="mensSection">
      <div class="holdingContainer">

        <div class="">
          <h1>Prevention And Ending Violence Against Women And Girls</h1> <br>
         <img src="../../static/images/prevViolence.JPG" alt="Prevention and ending violence against women and girls- pywv">
           <br><br>
          <p>
            We live in a society where <strong>women and girls are not safe</strong>  anywhere and if we are to stand in solidarity, we have to pledge to free women and girls from the shackles of violence. Under the project, <strong>"Preventing and Ending Violence against women and Girls"</strong> .  We engage young women in their diversity within the five phases in <strong>Dandora</strong>  including teenage mothers, survivors of gender based violence and those most affected through trainings conducted bi-montly discussing root causes of violence, principles of gender and the impact it creates in women, girls and community at large from a range of perspectives. <br><br>

            In efforts of preventing and ending violence against women and girls, we use a <strong>gender transformative intervention</strong> , involving young men and understanding the role they play as influencers and allies. We enhance victim/survivor centered response to violence against women and girls by creating linkages with local authorities as well as referrals to the organizations and shelters responding to <strong>gender based violence</strong> . <br><br>

            We trend on social media with the  <strong>#ItEndsWithUs</strong>  to start conversations, and urge the society to believe the survivors, we empower and stand against violence against women and girls.

   
          </p>
        </div>
      </div>
    </section>

{%endblock%}
