{%extends 'base.html'%} 
{% load static %}
{%block content%}

    <title>{%block title%}Esther Aoko || Positive young women voices {%endblock%}</title>

    <section class="personSection">
        <div class="myDiv">
          <img
            src="https://live.staticflickr.com/65535/52163584128_6520be7a52.jpg"
            alt="Esther Aoko Positive young women"
            class="personImg"
          />

          <div>
            <div class="nameAndLinkedInContainer">
              <h4>Esther Aoko</h4>
              <a href="https://www.linkedin.com/in/esther-aoko-5625501b5" target="_blank"><img class="linkedInImg" src="{% static 'images/Linkedin-logo-on-transparent-Background-PNG-.png' %}" alt="Esther Aoko linkedIn pywv positive young women voices"></a>
            </div>
              <h6>Communication officer</h6>
              <hr />
              <p>
                Esther Aoko is a sexual and reproductive health youth advocate, feminist and community volunteer. She is a champion for women which she believes is her most important role in life. Esther is currently working as the communications officer at Positive Young Women Voices where she also facilitates mentorship sessions under the Adopt A girls month program.
              </p>
          </div>
        </div>

    </section>

{%endblock%}