{%extends 'base.html'%} 
{% load static %}
{%block content%}
{%include 'head.html'%}


    <title>{%block title%}Gender rights promotion || pywv {%endblock%}</title>

    <section class="mensSection">
      <div class="holdingContainer">

        <div class="">
          <h1>Gender Rights Promotion</h1> <br>
         <img src="{%static 'images/genderRights.jpg'%}" alt="Gender Rights Promotion- pywv">
           <br><br>
          <p>
            The <strong>LBQ+ Forum</strong>  comprises of Lesbians, Bisexuals and Queer persons living with and affected by HIV. The  forum came into existence to address the challenges the LBQ+ Women are facing such as <strong>Sexual Violence, Disownment, Stigma and discrimination</strong>  based on Sexual Orientations and Expressions and Healthcare. <br><br> 

            We Hold <strong>Monthly Physical Forums and Bi-Weekly Online Forums</strong>  that enable the dissemination of LBQ+ tailored Sexual and reproductive health(SRH) Information, Creation of linkages with service providing organizations that offer SRH services, Creation of a safe space for LBQ+ womxn to meet and Ensure security and protection of the human rights of Lesbian, Bisexual and Queer womxn. <br> <br>

   
          </p>
        </div>
      </div>
    </section>

{%endblock%}
