{%extends 'base.html'%}
{% load static %}
{%block content%}

    <title>{%block title%} HIV prevention and care || pywv || pywv positive young women voices {%endblock%}</title>

    <section class="mensSection">
      <div class="holdingContainer">

        <div class="">
          <h1>HIV prevention and care</h1>
          <hr>
          <h4><strong>Includes our support group for young women living with HIV and awareness creation on HIV and TB</strong> </h4> <br>
          <p>
            <strong> Ending the AIDS Epidemic</strong>
            will depend on greater efforts to reduce new HIV Infections, prevent AIDS-related deaths, create awareness on <strong>U=U (undetectable equals untransmittable)</strong>  and bridge the gap between civil societies, healthcare providers and adolescent girls and young women living with HIV, through provider-consumer education support programmes. <br><br>

            <strong>PYWV</strong>
             hence acts as a gap between health care workers and a group of young women identified as MY TRIBE. They conduct a support forum every last wednesday of the month to discuss challenges they face and brainstorm on solutions that foster achievement of the global targets of reducing the impacts of HIV. 

   
          </p>
        </div>
      </div>
    </section>

{%endblock%}