{%extends 'base.html'%} 
{% load static %}
{%block content%}


<html lang="en">

    <title>{%block title%} Positive young women voices {%endblock%}</title>
 
    <section class="displaySection">
      <div class="leftDispCntainer">
        <h1>Positive young women voices</h1>
        <h3>Our voices matter !</h3>
      </div>
      <img
        class="displayImg"
        
        src="{%static 'images/disp.png' %}"
        alt="Positive young women voices display image"
      />
    </section>

    <section class="numbersSection">
      <div class="numbersContainer">
      <h2 class="pluSign"><span class="counter-count"> 1500 </span> +  </h2>
        <h2>Girls reached</h2>
      </div>

      <div class="numbersContainer">
        <h2 class="pluSign"><span class="counter-count"> 10000 </span> +  </h2>
        <h2>Pads distributed </h2>
      </div>

      <div class="numbersContainer">
        <h2 class="pluSign"><span class="counter-count"> 200 </span> +  </h2>
        <h2>Training programmes covered</h2>
      </div>
    </section>

    <section class="whoAreWeContainer">
      <img src="{%static 'images/who.webp' %}" />
      <div class="whoDiv">
        <h1 class="wobble">Who are we?</h1>
        <p>
          <span> Positive Young Women Voices (PYWV)</span> is a community based
          organization which started as a self-help group in the year 2014 but
          later registered as a community based organization in the year 2017.
          The idea of group formation was derived when these advocates noticed
          there were major challenges facing young women and girls living with
          and at risk of HIV within the Nairobi slums of Dandora.The major
          challenges include teenage pregnancy, poverty, gender based violence,
          access to friendly health facility and information.Armed with
          experience they chose to fill the gaps by offering mentorship, provide
          linkages and referrals, create awareness and offer information.
        </p>

        <a href="{%url 'aboutUs'%}">Read more</a>
      </div>
    </section>

    <section class="whatWeDoContainer scroll-element js-scroll slide-left">
      <div class="items">
        <div onclick="goToAdopt()" class="didi">
          <img src="{%static 'images/adopt.png' %}"/>
          <h3>Adopt a girl month initiative</h3>

          <p>
            JJ had her first period when she was 14 years old and had just
            joined high school. She had been waiting for this and knew that it
            would happen as almost all girls in her last class in primary school
            had fuller chest and carried their sanitary towels when it was that
            time of the month.
          </p>

          <button onclick="goToAdopt()" class="whatBTN">View</button>
        </div>

        <div onclick="goToViolence()" class="didi">
          <img src="{%static 'images/violence.png' %}"/>
          <h3>Ending violence against women and girls</h3>

          <p>
            Behind every woman and girl there is an untold story and in most
            case is a sad story. Women and girls go through various challenges
            in life; gender based violence being the most rampant. This is due
            to the patriarchal system and cultural factors that deny women power
            to decide on their human rights.
          </p>

          <button onclick="goToViolence()" class="whatBTN">View</button>
        </div>

        <div onclick="goToLBQ()" class="didi">
          <img
            class="lgbtq"
            src="https://cdn.pixabay.com/photo/2021/02/28/00/46/pride-6056043_1280.png"
            alt=""
          />
          <h3>LBQ support forums</h3>

          <p>
            PYWV LBQ Support forum comprises of Lesbians, Bisexuals and Queer
            persons living with and affected by HIV from our community Dandora.
          </p>

          <button onclick="goToLBQ()" class="whatBTN">View</button>
        </div>
      </div>
    </section>

    <h1 class="wobble ourActivitiesTextAbsolute">Our activities</h1>
    <section class="scroll-element js-scroll slide-right activitiesHomeSection">
      <div class="actsContaToHold">
        <div onclick="goToActivities()">
          <img
            src="https://media4.giphy.com/media/MAiBYSyUzSCWZne5hU/200w.webp?cid=ecf05e47kknxvy1ikb7jvu0jfew44fz9temf2e45g5vdxqy9&rid=200w.webp&ct=s"
            alt="girl power"
          />
        </div>

        <div>
          <div>
            <h4>Empowerment</h4>
            <p>
              The empowerment program will be building the capacities of young
              women and girls affected and living with HIV to get the best care,
              treatment and support and to improve their lives with the right
              information as well as economic growth for sustainable
              livelihoods.
            </p>
          </div>

          <div>
            <h4>Prevention</h4>
            <p>
              PYWV prevention program will major on prevention with positive
              program where the young women who are influencers will act as
              mentors to the younger ones through psycho social support, peer
              education, facilitation of referrals for treatment ,screening and
              management of other non-communicable diseases and awareness
              creation. <br /><a href="{%url 'aboutUs'%}">Read more</a>
            </p>
          </div>
        </div>
      </div>

      <div class="twee">
        <a
          class="twitter-timeline"
          data-width="400"
          data-height="400"
          data-theme="light"
          href="https://twitter.com/GirlsWomenPower?ref_src=twsrc%5Etfw"
          >Tweets by GirlsWomenPower</a
        >
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
      </div>
    </section>

    <div class="feedTexts">
      <h1 class="wobble">News feed</h1>
      <h5> <a href="{% url 'allPosts' %}"> View all</a></h5>  
    </div>
    

    <section class="recentPostsSection">
        {% for post in object_list|slice:":3" %}
        {%if post %}
        <a class="card-link" href="{% url 'article-details' post.pk %}">
          <div class="card">
            {%if post.header_image%}
              <img style="width:340px;height:200px;" src="{{post.header_image.url}}" class="card-img-top" alt="...">
            {%else%}
              <img style="width:340px;height:200px;" src="https://qawerk.com/wp-content/uploads/2021/07/no-image-available-icon-6.png" alt="">
            {%endif%}

            <div class="card-body">
              <h5 class="card-title"> {{post.title|truncatechars:50}}</h5>
              <br>
              <p class="card-text"> {{post.snippet|truncatechars:120}}</p>
              <hr>
              <p class="card-text"><small class="text-muted">{{post.author.first_name}} {{post.author.last_name}} | {{post.date_created}}</small></p>
            </div>
          </div>
        </a>
        {%endif%}
        {%endfor%}
    </section>


    <h1 class="wobble ourActivitiesTextAbsolute">Our partners</h1>

    <section class="partnersSection scroll-element js-scroll slide-left">
      <a href="https://ajws.org/" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/f2/Ajws-org-logo.svg/1200px-Ajws-org-logo.svg.png" alt="american jewish world service positive young women's voices">
      </a>

      <a href="https://www.unaids.org/en" target="_blank">
        <img src="https://i0.wp.com/www.un.org/youthenvoy/wp-content/uploads/2014/09/unaids-logo-260px1.jpg?fit=260%2C173&ssl=1" alt="UNAIDS Positive young women's voices ">
      </a>
      
      <a href="https://gnpplus.net/" target="_blank">
        <img src="https://gnpplus.net/wp-content/themes/gnpplus/images/logo.svg" alt="Global network of people living with aids positive young women's voices">
      </a>
      
      <a href="https://hivos.org/" target="_blank">
        <img src="https://hivos.org/assets/2018/07/HIVOS-2.jpg" alt=" Hivos positive young women's voices">
      </a>
      
    </section>

 {%endblock%}
