{%extends 'base.html'%} 
{%load static%}
{%block content%}
{%include 'head.html'%}

<title>{%block title%} PYWV || Positive Young Women Voices {%endblock%}</title>


    <section class="intro">  
        <div class="slider">
          <ul>
            <li class="image1Li">
                <div class="center-y">
                  <h3><span>PYWV</span>  <br>  Positive Young Women Voices.</h3>
                  <!-- <a href="#">Discover</a>	 -->
                </div>

            </li>
            <li class="image2Li">
              <div class="center-y">
                <h3><span>Mentor and advocate</span>  for young women and adolescent girls.</h3>
                <a href="#"></a>	
              </div>
            </li>
            <li class="image3Li">
              <div class="center-y">
              <h3><span>Humanizing</span>  young women and adolescent girls in all their diversities.</h3>
              <a href="#"></a>
              </div>
            </li>
          </ul>

          <ul>
            <nav>
              <a href="#"></a>
              <a href="#"></a>
              <a href="#"></a>
            </nav>
          </ul>
        </div>
    </section>

    <section class="visionMissionLandingSection">
      <div class="visionMissionLanding">
        <div class="missLead" >
          <img class="identifierImgs " src="{% static 'images/vision.png' %}" alt="">
          <h4><span>Humanizing</span>  young women and adolescent girls in all their diversities</h4>
        </div>
  
        <div class="missLead" >
          <img class="identifierImgs " src="{% static 'images/mission.png' %}" alt="">
          <h4><span>Mentor and advocate</span>  for young women and adolescent girls in all their diversities to advance their rights through access to inclusive healthcare, advocacy and social and economic empowerment</h4>
        </div>
      </div>

      <div class="valuesDiv scroll-element ">
        <div class="missingS">
          <img class="identifierImgs " src="{% static 'images/core-value.png' %}" alt="pywv positive young women voices core values">
          <!-- <h1>S</h1> -->
        </div>

        <div class="valueItemContainer">
          <div class="coreDivs">
            <img class="coreImgs" src="{% static 'images/respect.png' %}" alt="pywv positive young women voices core values">
            <h4><span>Respect</span></h4>
            <p> 
              We hold each and every one within the PYWV spaces with utmost dignity and regard for who they are, their opinions, perspectives and diversities</p>
          </div>
  
          <div class="coreDivs">
            <img class="coreImgs" src="{% static 'images/integrity.png' %}" alt="pywv positive young women voices core values">
            <h4><span>Integrity</span></h4>
            <p>
              We uphold honesty, professionalism and trust in all our endeavours and are committed to ensure that our choices and decisions are to the best interest of PYWV and stakeholders.</p>
          </div>
  
          <div class="coreDivs">
            <img class="coreImgs" src="{% static 'images/inclusivity.png' %}" alt="pywv positive young women voices core values">
            <h4><span>Inclusivity</span></h4>
            <p>
              We are committed to treat everyone with fairness and equality regardless of their gender, sexuality, religion, social class and beliefs.</p>
          </div>
  
          <div class="coreDivs">
            <img class="coreImgs" src="{% static 'images/humanity.png' %}" alt="pywv positive young women voices core values">
            <h4><span>Humanity</span></h4>
            <p>
              We treat everyone we interact with with dignity, kindness and embrace their value simply because they are human.</p>
          </div>

          <div class="coreDivs transparencyformobile">
            <img class="coreImgs" src="{% static 'images/transparency.webp' %}" alt="pywv positive young women voices core values">
            <h4><span>Transparency</span></h4>
            <p>
              We are accountable to our stakeholders by ensuring openness in our communication, being good stewards of resources entrusted to us and being responsible for our actions
            </p>
          </div>
          
        </div>
      </div>
    </section>
 
    <h1 class="wobble achievementText">Our achievement</h1>
    <section class="numbersSection ">
      
      <div class="numbersContainer ">

        <img src="{% static 'images/girls.png' %}" alt="">
        <h2 class="pluSign"><span class="counter-count"> 300 </span> +  </h2>
        <h2>Girls reached</h2>
      </div>

      <div class="numbersContainer">
        <img src="../../static/images/pads.png" alt="">
        <h2 class="pluSign"><span class="counter-count"> 36000 </span> +  </h2>
        <h2>Pads distributed </h2>
      </div>

      <div class="numbersContainer">
        <img src="{% static 'images/training.png' %}" alt="">
        <h2 class="pluSign"><span class="counter-count"> 50 </span> +  </h2>
        <h2>Training programmes covered</h2>
      </div>
    </section>

    <section class="stackblocksLetterSection">
      
      <div class="letterAndTweets">
        <div class="blocks">
          <h1 class="wobble newsletterText">Newsletter</h1><br>
          <div class="stackblocks-embed" data-stackblock="cl4nvc0tx004309l5ozzx1x09"></div>
          <script src="https://frame.stackblocks.app/frame.js"></script>
        </div>
  
        
        <div class="twee">
          <a class="twitter-timeline" data-width="450" data-height="700" data-theme="dark" href="https://twitter.com/GirlsWomenPower?ref_src=twsrc%5Etfw">Tweets by GirlsWomenPower</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </section>

    <div class="feedTexts">
      <h1 class="wobble">News feed</h1>
      <h5> <a href="{% url 'allPosts' %}"> View all</a></h5>  
    </div>
  
    <section class="recentPostsSection">
        {% for post in object_list|slice:":3" %}
        {%if post %}
        <a class="card-link" href="{% url 'article-details' post.pk %}">
          <div class="card">
            {%if post.header_image%}
              <img style="width:340px;height:200px;" src="{{post.header_image.url}}" class="cardImg" alt="...">
            {%else%}
              <img style="width:340px;height:200px;" src="https://qawerk.com/wp-content/uploads/2021/07/no-image-available-icon-6.png"class="cardImg" alt="...">
            {%endif%}

            <div class="card-body">
              <h5 class="card-title"> {{post.title|truncatechars:50}}</h5>
              <br>
              <p class="card-text"> {{post.snippet|truncatechars:120}}</p>

              <div class="authAndDate">
                <hr >
                <p class="card-text "><small class="text-muted">{{post.author.first_name}} {{post.author.last_name}} | {{post.date_created}}</small></p>

              </div>
            </div>
          </div>
        </a>
        {%endif%}
        {%endfor%}
    </section>

    <div class="twee tweeOnMobile">
      <a class="twitter-timeline" data-width="450" data-height="700" data-theme="dark" href="https://twitter.com/GirlsWomenPower?ref_src=twsrc%5Etfw">Tweets by GirlsWomenPower</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <section id="slideshow">
      <h1 class="wobble ourActivitiesTextAbsolute">Our partners</h1>
      <div class="entire-content">
          <div class="content-carrousel">
              <figure class="shadow"><a href="https://ajws.org/" target="_blank">
                <img src="{%static 'images/ajws.png'%}" alt="american jewish world service positive young women's voices">
              </a></figure>

              <figure class="shadow"><a href="https://www.unaids.org/en" target="_blank">
                <img src="{%static 'images/unaids.webp'%}" alt="UNAIDS Positive young women's voices ">
              </a></figure>

              <figure class="shadow"><a href="https://gnpplus.net/" target="_blank">
                <img src="https://gnpplus.net/wp-content/themes/gnpplus/images/logo.svg" alt="Global network of people living with aids positive young women's voices">
              </a></figure>

              <figure class="shadow"><a href="https://wearepurposeful.org/" target="_blank">
                <img src="{%static 'images/purposeful.webp'%}" alt=" We are purpose positive young women's voices">
              </a></figure>

              <figure class="shadow"><a href="https://hivos.org/" target="_blank">
                <img src="{%static 'images/hivos.jpg'%}" alt=" Hivos positive young women's voices">
              </a></figure>

              <figure class="shadow"><a href="https://gnpplus.net/" target="_blank">
                <img src="https://gnpplus.net/wp-content/themes/gnpplus/images/logo.svg" alt="Global network of people living with aids positive young women's voices">
              </a></figure>

              <figure class="shadow"><a href="https://www.unaids.org/en" target="_blank">
                <img src="{%static 'images/unaids.webp'%}" alt="UNAIDS Positive young women's voices ">
              </a></figure>

              <figure class="shadow"><a href="https://wearepurposeful.org/" target="_blank">
                <img src="{%static 'images/purposeful.webp'%}" alt=" We are purpose positive young women's voices">
              </a></figure>


              <figure class="shadow"><a href="https://hivos.org/" target="_blank">
                <img src="https://hivos.org/assets/2018/07/HIVOS-2.jpg" alt=" Hivos positive young women's voices">
              </a></figure>
  </div>
  </div>
    </section>

 {%endblock%}
