{%extends 'base.html'%} 
{% load static %}
{%block content%}
{%include 'head.html'%}


    <title>{%block title%}Lucy Njenga || Positive young women voices {%endblock%}</title>
   
    <section class="personSection">
        <div class="myDiv">
          <img
            src="https://live.staticflickr.com/65535/52163584433_32e9fc4a4e.jpg"
            alt="Lucy Njenga Positive young women"
            class="personImg"
          />

          <div>
            <div class="nameAndLinkedInContainer">
              <h4>Lucy W. Njenga</h4>
              <a href="https://www.linkedin.com/in/lucy-wanjiku-njenga-8470a16a" target="_blank"><img class="linkedInImg" src="{% static 'images/Linkedin-logo-on-transparent-Background-PNG-.png' %}" alt="Lucy W. Njenga linkedIn pywv positive young women voices"></a>
            </div>

              <h6>ED</h6>
              <hr />
              <p>
                Lucy Wanjiku Njenga is the Founder and Team Lead at Positive Young Women Voices. She has 5+ years of experience and expertise that cuts across Gender and Development, Adolescent Health in HIV, Girls and Young Women Sexual and Reproductive Health and Rights, HIV in Global Health, International relations, Conflict Management, Programme Planning, Leadership and Team Building, and Management as well Strategy Development.
              </p>
          </div>
        </div>

    </section>

{%endblock%}