{%extends 'base.html'%} 
{% load static %}
{%block content%}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'css/mainStyles.css'%}">
    <title>{%block title%}Marylizz Biubwa || Positive young women voices {%endblock%}</title>
  </head>

  <body>
   
    <section class="personSection">
        <div class="myDiv">
          <img
            src="https://live.staticflickr.com/65535/52163583548_dc95e98b58.jpg"
            alt="Marylizz Biubwa Positive young women"
            class="personImg"
          />

          <div>
              <h4>Marylizz Biubwa</h4>
              <h6>Advisory board Chair</h6>
              <hr />
              <p>
                Marylize Biubwa is a 30 year old black queer intersectional feminist and activist. Her
                activism is on social justice with a deliberate gender bias.            
                Her feminism, as indicated above
                is intersectional in nature to allow for championing for the rights of all humans. Her
                activism and feminism is inspired by life experiences and day to day events that make life.
                As a rape survivor, her motivation to activism and feminism is to see a world where
                women are free to express and explore their sexuality and femininity without being
                sexually objectified, for women to have a voice and choice over their bodies(bodily
                autonomy), and for consent to be a bare minimum when it comes to female interactions
                with males. Her ideal world is a world where a level ground is maintained for all genders,
                sexual orientations and identities to ever exist under the sun.

                As a queer lesbian womxn, other than seeing homosexuality decriminalized in Kenya, her
                activism and feminism is to see a world where human beings can live out their lives fully
                without the worry of being ostracized and abused because of their queerness. To see a
                world that embraces and respects diversity as it should be.

                Her work is, aside from working with partners, allys and different CSOs, mainly on social
                media which provides a suitable crowd to Propel the agenda of acquiring and obtaining
                information. To demystify myths about women and their sexuality and myths around
                persons of the LGBTIQGNC+ community. Platforms she often uses are Facebook (Biubwa
                Marylize), Twitter (@Queerly_So), IG (marylize_biubwa) and YouTube as (Marylize
                Biubwa) . In this age and time, she solidly believes cordiality is the secret power that social
                media gives everyone a chance at communication. And if we can communicate then why
                not share information, learn and become better humans?
                <br><br>

                Contacts: <br>
                candylize@gmail.com <br>
                +254718294276.
              </p>
          </div>
        </div>

    </section>
  </body>
  
</html>
{%endblock%}