{%extends 'base.html'%} 
{% load static %}
{%block content%}
{%include 'head.html'%}


    <title>{%block title%}International menstruation day || pywv positive young women voices {%endblock%}</title>

    <section class="mensSection">
      <div class="holdingContainer">

        <div class="">
          <h1>Menstrual health and mentorship</h1> <br><br>
          
          <p>
            The aim of the mentorship is <strong>nurturing a community of bold female leaders</strong> , with the voice of change both at an individual and societal level.

            The mentorship department works closely with <strong>adolescent girls</strong>  of <strong>ages 9 to 19</strong>  years in 3 community high schools and out of school . The mentors in the department facilitate sessions on <strong>sexual reproductive health and rights including information access, adolescence and peer pressure, mental health and well being, menstrual hygiene, healthy communication and leadership skills</strong> . Boys are also engaged in the sessions in the schools we partner with as allies in ending period stigma. <br><br>

            <img class="mentImageInline" src="../../static/images/raisingPads.JPG" alt="Menstrual health and mentorship pywv positive young women voices"> <br><br>

            The mentorship sessions run on a <strong>monthly basis,</strong>  with six sessions every month. We mark and celebrate the girls on occasions that call for it like International day of the girl child and Menstrual hygiene day marked globally. <br><br>

            <img src="../../static/images/padd2.JPG" alt="Menstrual health and mentorship pywv positive young women voices"> <br><br>

            <strong><h5>To support our sanitary towels provision to end period poverty, please donate <a href="https://www.changa.co.ke/fundraiser/14948" target="_blank">here</h5> </strong>
            </a>

          </p>
        </div>
      </div>
    </section>

{%endblock%}