{%extends 'base.html'%} 
{% load static %}
{%block content%}
{%include 'head.html'%}


    <title>
      {%block title%} 
      Mental health || pywv 
      {%endblock%} </title>

    <section class="mensSection">
      <div class="holdingContainer">

        <div class="">
          <h1>Mental health</h1> <br><br>
        
          <img class="mentImageInline" src="{%static 'images/mental-health-pywv.jpg'%}" alt="mental-health-pywv"> <br> <br>
          <p>
            <strong>A healthy mind and body</strong>  equals a wealthy person. At PYWV,  we believe when our mental health is taken care of, our physical, social, intellectual and psychological states exist in peace and harmony and by extension, so do our social connections with others. <br><br>

            In our day to day work, we deal with cases of <strong>sexual and gender based violence </strong> that often sprouts up all kinds of emotions. To monitor and shelter our bodies from potential problems and pain, we keep tabs on our mental health and are able to recognize when we need support and attention. <br><br>
            
            We are deliberate about this,not only by creating a mutually beneficial supportive culture but by also establishing referral systems for psycho-social support for both our team members and sexual and gender based violence survivors in the community we serve. <br><br>
            
            Our team members have access to <strong>counseling services</strong>  provided by an in-house therapist, whom they see at will.  They are thus able to effectively deliver on their work to impact those we work with and for. For our community and target groups, we conduct mental health awareness and  facilitate counseling and therapy services for individuals and groups in all their diversities. <br><br>
            
          </p>
        </div>
      </div>
    </section>

{%endblock%}