{%extends 'base.html'%} 
{% load static %}
{%block content%}
{%include 'head.html'%}


    <title>{%block title%}PYWV 2022-2026 strategic plan || Positive young women voices {%endblock%}</title>

    <section class="mensSection">
      <div class="holdingContainer">
        <div>
          <h1>PYWV 2022 – 2026 Strategic Plan</h1> <br> <hr> <br>

          <img src="{%static 'images/strategy.webp'%}" alt="flourish toolbox || pywv || positive young women voices"> <br><br>

          <p>
            As <strong>Positive Young Women Voices marks five years since it was
            formally registered</strong> , we are delighted to be sharing our vision for
            the next five years with the world.
            <br> <br>
            
            <strong>Our 2022-2026 strategic plan
            seeks to</strong> :
            
            <ul>
              <li>Promote uptake of <strong>exual and reproductive health services</strong> s
            for AGYW in all their diversities as measured by increased access to
            quality healthcare services.</li>

            <li>Promote the rights of AGYW in all their
            diversities through capacity building initiatives and stakeholder
            engagement. </li>

            <li>Equip AGYW with financial and entrepreneurship knowledge
            for improved livelihoods through investment in viable and
            sustainable economic opportunities for self-sufficiency. </li>

            <li>Strengthen
            PYWV’s profile and reputation to attract and sustain strategic
            partners through effective communication and visibility. </li>

            <li>Enhance
            PYWV’s effectiveness and efficiency to deliver on its mission
            through strengthening the internal systems and structures.</li>
            </ul>
            <br><br>

            We
            appreciate all our partners, current and to come for walking with us
            as we bring change for our girls and young women in our diversities.
             
          </p>

          <h5>
            <a target="_blank" href="{%static 'documents/plan.pdf'%}"
              >Click here to read our strategic plan</a
            >
          </h5>
        </div>
      </div>
    </section>

{%endblock%}