{%extends 'base.html'%} 
{% load static %}
{%block content%}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'css/mainStyles.css'%}">
    <title>{%block title%}Scholarships || pywv ||positive young women voices{%endblock%}</title>
  </head>
  <body>
 
    <section class="mensSection">
      <div class="holdingContainer">

        <div class="">
          <h1>Scholarships</h1> <br>
         <img src="../../static/images/scholarships.JPG" alt="Gender Rights Promotion- pywv">
           <br><br>
          <p>
            
            The Timiza Ndoto Zake scholarship Fund was inspired by a girl in our mentorship program who came to our office requesting to be supported with school fees. She was in form four and feared she was going to miss out on her K.C.S.E examination. Through her moving story, we reached out to Adopt A Girl’s Month Initiative supporters requesting donations to see that she stays in school. We managed to clear her school fee balance as well as pay for her education until she completed her K.C.S.E examination and graduated from high school. <br><br>

            One of our girls had dropped out of school while in form one due to lack of school fees and through sheer luck,we received a donation by one of our supporters to sponsor a girl to school. This has given her the opportunity to achieve her dreams of learning with the aspiration of becoming an Air Hostess. She is now enrolled in form one. We now have a number of girls and parents coming forward requesting for school fees support. <br><br>

            Times are hard for everyone, especially for parents with children in high schools, and it is PYWV’s optimism that we will in future be able to sponsor more than one girl to school and even build a school that could see our girls attain the best quality education that is affordable. <br><br>

            <strong> We welcome your generous contributions towards our vision <br><br> <a href="https://www.changa.co.ke/fundraiser/55348" target="_blank"><h4>Donate</h4></a>
            </strong>
            

            


            <br> <br>

   
          </p>
        </div>
      </div>
    </section>
   
  </body>
</html>
{%endblock%}
