{%extends 'base.html'%} 
{% load static %}
{%block content%}
{%include 'head.html'%}


    <title>{%block title%}Sharon Nyakundi || Positive young women voices {%endblock%}</title>

    <section class="personSection">
        <div class="myDiv">
          <img
            src="{%static 'images/nyakundi-pywv.jpg'%}"
            alt="Sharon Nyakundi Positive young women"
            class="personImg"
          />

          <div>
              <h4>Sharon Nyakundi</h4>
              <h6>Advisory board member</h6>
              <hr />
              <p>
                Sharon Nyakundi is a 23 year old who is passionate about achieving her dreams and
                goals as a Fashion designer and Model  in life.She  holds 
                a Diploma in Business
                Administration  and currently on her final year of attaining a degree in Finance at Jomo
                Kenyatta University of Agriculture and Technology.She is a young entrepreneur who is
                determined to excel in the fashion industry .Sharon aims to deliver financial knowledge
                and mentorship  to young girls and women that will help them improve on a day to day
                life.She is passionate about serving and supporting young women and girls in the
                society and urges every young girl to be confident and believe in their dreams and work
                towards achieving them .She believes everyone has a talent and can turn that talent
                into daily bread.
              </p>
          </div>
        </div>

    </section>

{%endblock%}