{%extends 'base.html'%} 
{% load static %}
{%block content%}
{%include 'head.html'%}


    <title>{%block title%}Terry Nairuko || Positive young women voices {%endblock%}</title>

    <section class="personSection">
        <div class="myDiv">
          <img
            src="{%static 'images/terry-pywv.jpg'%}"
            alt="Terry Nairuko Positive young women"
            class="personImg"
          />

          <div>
              <h4>Terry Nairuko</h4>
              <h6>Advisory board member</h6>
              <hr />
              <p>
                Terry is passionate about Women Empowerment and SRHR Advocacy. She hopes to
                live in a world where girls and young women have the
                confidence to reach their full
                potential as they have all they need in themselves and in each other. She has a Masters
                in Project Management from University of Nairobi.
              </p>
          </div>
        </div>

    </section>

{%endblock%}