{%extends 'base.html'%} 
{% load static %}
{%block content%}
{%include 'head.html'%}


    <title>{%block title%}The team || Positive young women voices {%endblock%}</title>

    <section class="teamSection">
      <h2 class="meetText">Meet the team</h2>

      <div class="advisoryContainer ">
     
        <div class="personContainer">
          <img
            src="{%static 'images/Lucy-pywv.jpg'%}"
            alt="Lucy Njenga Positive young women"
          />

          <h4>Lucy W. Njenga</h4>
          <h6>ED</h6>
          <hr />
          <p>
            Lucy Wanjiku Njenga is the Founder and Team Lead at Positive Young
            Women Voices. She has 5+ years of experience and expertise that <br> <a href="{%url 'LucyNjenga'%}">Read more</a>
          </p>
        </div>

        <div class="personContainer">
          <img
            src="{%static 'images/lydia-pywv.jpg'%}"
            alt="Lydia Odipo Positive young women"
          />

          <h4>Lydia Odipo</h4>
          <h6>Administrative Coordinator</h6>
          <hr />
          <p>
            Lydia Odipo is a diploma holder from Kenya Institute of Management
            and currently volunteering at Positive Young Women Voices (PYWV) as
            the <br> <a href="{%url 'LydiaOdipo'%}">Read more</a>
          </p>
        </div>

        <div class="personContainer">
          <img
            src="{%static 'images/anne-pywv.jpg'%}"
            alt="Anne Mugo Positive young women"
          />

          <h4>Anne Mugo</h4>
          <h6>Project officer</h6>
          <hr />
          <p>
            Anne is an intersectional feminist who uses her skills to lead and
            advocate for the rights of women and girls, driven by the belief
            that our freedoms are inter-connected <br> <a href="{%url 'AnneMugo'%}">Read more</a> 
          </p>
        </div>   
        
        <div class="personContainer">
          <img
            src="{%static 'images/beryl-pywv.jpg'%}"
            alt="Beryl Wafula. Socio-economic Empowerment Lead Positive young women"
          />

          <h4>Beryl Wafula</h4>
          <h6>Socio-economic Empowerment Lead</h6>
          <hr />
          <p>
            Beryl is a mentor and the lead in Socio_ economic empowerment at Positive Young Women Voices empowering young women and girls has always been <br> <a href="{%url 'BerylWafula'%}">Read more</a> 
          </p>
        </div>
        
        <div class="personContainer">
          <img
            src="{%static 'images/consolata-pywv.jpg'%}"
            alt="Consolata Akoth Positive young women"
          />
          <h4>Consolata Akoth</h4>
          <h6>Mentorship Lead</h6>
          <hr />
          <p>
            I envision a world where; girls' (in all their diversity)voices are
            heard, women(in all their diversity) are bold enough to take up any and every role  <br> <a href="{%url 'ConsolataAkoth'%}">Read more</a> 
          </p>
        </div>

        <div class="personContainer">
          <img
            src="{%static 'images/katanu-pywv.jpg'%}"
            alt="Cynthia Katanu Positive young women"
          />

          <h4>Cynthia Katanu</h4>
          <h6>Finance Officer</h6>
          <hr />
          <p>
            Cynthia Katanu is currently the Finance Officer at Positive Young
            Women voices and is tasked with coordinating and providing <br> <a href="{%url 'CynthiaKatanu'%}">Read more</a> 
          </p>
        </div>

        <div class="personContainer">
          <img
            src="{%static 'images/aoko-pywv.jpg'%}"
            alt="Esther Aoko Positive young women"
          />
          <h4>Esther Aoko</h4>
          <h6>Communication Officer</h6>
          <hr />
          <p>
            Esther Aoko is a sexual and reproductive health youth advocate,
            feminist and community volunteer. She is a champion for women which  <br> <a href="{%url 'EstherAoko'%}">Read more</a> 
          </p>
        </div>

        <div class="personContainer">
          <img
            src="{%static 'images/fahe-pywv-2.jpg'%}"
            alt="Fahe Kerubo Positive young women"
          />
          <h4>Fahe Kerubo</h4>
          <h6>LBQ Department Lead</h6>
          <hr />
          <p>
            Fahe Kerubo is a graduate with a Bachelor's degree in Criminology
            and Security Studies. They are a Sexual Reproductive Health and <br> <a href="{%url 'FaheKerubo'%}">Read more</a>
          </p>
        </div>
        
        <div class="personContainer">
          <img
            src="{%static 'images/mercy-pywv.jpg'%}"
            alt="Mercy Wanjiku Positive young women"
          />

          <h4>Mercy Wanjiku</h4>
          <h6>HIV Department Lead</h6>
          <hr />
          <p>
            Mercy Wanjiku currently sits as the Monitoring and Evaluation
            Officer at Positive Young Women Voices. She is tasked with assisting
            and <br> <a href="{%url 'MercyWanjiko'%}">Read more</a>
          </p>
        </div>
      
        <div class="personContainer">
          <img
            src="{%static 'images/sarota-pywv.jpg'%}"
            alt="Risper Sorata Positive young women"
          />

          <h4>Risper Sarota</h4>
          <h6>PEVAWG Lead</h6>
          <hr />
          <p>
            Risper Sarota holds a Diploma in Clinical Medicine and Surgery. She
            is a full-time volunteer Clinical Officer at PYWV 2019. She is <br> <a href="{%url 'RisperSarota'%}">Read more</a>
          </p>
        </div>   
      </div>
    </section>

    <section class="teamSect">
      <h1 class="advisoryText">Advisory team</h1>
      <div class="  advisoryContainer">

        <div class="personContainer">
          <img
            src="{%static 'images/marylizz-pywv.jpg'%}"
            alt="Marylizz Biubwa Positive young women"
          />
          <h4>Marylizz Biubwa</h4>
          <h6>Advisory board Chair</h6>
          <hr />
          <p>
            Marylize Biubwa is a 30 year old black queer intersectional feminist and activist. Her
            activism is on social justice with a deliberate gender bias.  <br> <a href="{%url 'Marylizz'%}">Read more</a>
            
           
          </p>
        </div>

        <div class="personContainer">
          <img
            src="{%static 'images/buchira-pywv.jpg'%}"
            alt="Cynthia Buchira Positive young women"
          />
          <h4>Cynthia Buchira</h4>
          <h6>Advisory board member</h6>
          <hr />
          <p>
            Cynthia Buchira is a young visionary HIV prevention Ambassador and advocate, recently
            appointed as a member of the positive young
            <br> <a href="{%url 'CynthiaBuchira'%}">Read more</a>
           
          </p>
        </div>

        <div class="personContainer">
          <img
            src="{%static 'images/nyakundi-pywv.jpg'%}"
            alt="Sharon Nyakundi Positive young women"
          />
          <h4>Sharon Nyakundi</h4>
          <h6>Advisory board member</h6>
          <hr />
          <p>
            Sharon Nyakundi is a 23 year old who is passionate about achieving her dreams and
            goals as a Fashion designer and Model  in life.She  holds <br> <a href="{%url 'SharonNyakundi'%}">Read more</a>
           
          </p>
        </div>

        <div class="personContainer">
          <img
            src="{%static 'images/terry-pywv.jpg'%}"
            alt="Marimpet Nairuko Positive young women || pywv"
          />

          <h4>Terry Nairuko</h4>
          <h6>Advisory board member</h6>
          <hr />
          <p>
            Terry is passionate about Women Empowerment and SRHR Advocacy. She hopes to
            live in a world where girls and young women have the <br> <a href="{%url 'Terry'%}">Read more</a>
            
           
          </p>
        </div>

        <div class="personContainer">
          <img
            src="{%static 'images/lizz-pywv.jpg'%}"
            alt="Lizz Abade Positive young women || pywv"
          />

          <h4>Lizz Abade</h4>
          <h6>Advisory board member</h6>
          <hr />
          <p>
            Lizz Abade is a resourceful customer service representative committed to and driven by the need
            to solve people's problems. <br> <a href="{%url 'Lizz'%}">Read more</a>
            
          </p>
        </div>

        
      </div>
    </section>

{%endblock%}