{%extends 'base.html'%} 
{% load static %}
{%block content%}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'css/mainStyles.css'%}">
    <title>{%block title%}The team || Positive young women voices {%endblock%}</title>
  </head>

  <body>
   
    <section class="teamSection">
      <h2 class="meetText">Meet the team</h2>

      <div class="advisoryContainer ">
     
        <div class="personContainer">
          <img
            src="https://live.staticflickr.com/65535/52163584433_32e9fc4a4e.jpg"
            alt="Lucy Njenga Positive young women"
          />

          <h4>Lucy W. Njenga</h4>
          <h6>ED</h6>
          <hr />
          <p>
            Lucy Wanjiku Njenga is the Founder and Team Lead at Positive Young
            Women Voices. She has 5+ years of experience and expertise that <br> <a href="{%url 'LucyNjenga'%}">Read more</a>
          </p>
        </div>

        <div class="personContainer">
          <img
            src="https://live.staticflickr.com/65535/52163583006_c1415f06a4.jpg"
            alt="Lydia Odipo Positive young women"
          />

          <h4>Lydia Odipo</h4>
          <h6>Administrative Coordinator</h6>
          <hr />
          <p>
            Lydia Odipo is a diploma holder from Kenya Institute of Management
            and currently volunteering at Positive Young Women Voices (PYWV) as
            the <br> <a href="{%url 'LydiaOdipo'%}">Read more</a>
          </p>
        </div>

        <div class="personContainer">
          <img
            src="https://live.staticflickr.com/65535/52163583588_738e401021_w.jpg"
            alt="Anne Mugo Positive young women"
          />

          <h4>Anne Mugo</h4>
          <h6>Project officer</h6>
          <hr />
          <p>
            Anne is an intersectional feminist who uses her skills to lead and
            advocate for the rights of women and girls, driven by the belief
            that our freedoms are inter-connected <br> <a href="{%url 'AnneMugo'%}">Read more</a> 
          </p>
        </div>   
        
        <div class="personContainer">
          <img
            src="https://live.staticflickr.com/65535/52163823129_8eb29f4a2b_k.jpg"
            alt="Beryl Wafula. Socio-economic Empowerment Lead Positive young women"
          />

          <h4>Beryl Wafula</h4>
          <h6>Socio-economic Empowerment Lead</h6>
          <hr />
          <p>
            Beryl is a mentor and the lead in Socio_ economic empowerment at Positive Young Women Voices empowering young women and girls has always been <br> <a href="{%url 'BerylWafula'%}">Read more</a> 
          </p>
        </div>
        
        <div class="personContainer">
          <img
            src="https://live.staticflickr.com/65535/52164071050_93c2dac6f6_k.jpg"
            alt="Consolata Akoth Positive young women"
          />
          <h4>Consolata Akoth</h4>
          <h6>Mentorship Lead</h6>
          <hr />
          <p>
            I envision a world where; girls' (in all their diversity)voices are
            heard, women(in all their diversity) are bold enough to take up any and every role  <br> <a href="{%url 'ConsolataAkoth'%}">Read more</a> 
          </p>
        </div>

        <div class="personContainer">
          <img
            src="https://live.staticflickr.com/65535/52163584093_f11c05751d.jpg"
            alt="Cynthia Katanu Positive young women"
          />

          <h4>Cynthia Katanu</h4>
          <h6>Finance Officer</h6>
          <hr />
          <p>
            Cynthia Katanu is currently the Finance Officer at Positive Young
            Women voices and is tasked with coordinating and providing <br> <a href="{%url 'CynthiaKatanu'%}">Read more</a> 
          </p>
        </div>

        <div class="personContainer">
          <img
            src="https://live.staticflickr.com/65535/52163584128_6520be7a52.jpg"
            alt="Esther Aoko Positive young women"
          />
          <h4>Esther Aoko</h4>
          <h6>Communication Officer</h6>
          <hr />
          <p>
            Esther Aoko is a sexual and reproductive health youth advocate,
            feminist and community volunteer. She is a champion for women which  <br> <a href="{%url 'EstherAoko'%}">Read more</a> 
          </p>
        </div>

        <div class="personContainer">
          <img
            src="https://live.staticflickr.com/65535/52163584138_67236653dd_k.jpg"
            alt="Fahe Kerubo Positive young women"
          />
          <h4>Fahe Kerubo</h4>
          <h6>LBQ Department Lead</h6>
          <hr />
          <p>
            Fahe Kerubo is a graduate with a Bachelor's degree in Criminology
            and Security Studies. They are a Sexual Reproductive Health and <br> <a href="{%url 'FaheKerubo'%}">Read more</a>
          </p>
        </div>
        
        <div class="personContainer">
          <img
            src="https://live.staticflickr.com/65535/52163822494_dd21d91e34.jpg"
            alt="Mercy Wanjiku Positive young women"
          />

          <h4>Mercy Wanjiku</h4>
          <h6>HIV Department Lead</h6>
          <hr />
          <p>
            Mercy Wanjiku currently sits as the Monitoring and Evaluation
            Officer at Positive Young Women Voices. She is tasked with assisting
            and <br> <a href="{%url 'MercyWanjiko'%}">Read more</a>
          </p>
        </div>
      
        <div class="personContainer">
          <img
            src="https://live.staticflickr.com/65535/52163583478_f35a29cce1_c.jpg"
            alt="Risper Sorata Positive young women"
          />

          <h4>Risper Sarota</h4>
          <h6>PEVAWG Lead</h6>
          <hr />
          <p>
            Risper Sarota holds a Diploma in Clinical Medicine and Surgery. She
            is a full-time volunteer Clinical Officer at PYWV 2019. She is <br> <a href="{%url 'RisperSarota'%}">Read more</a>
          </p>
        </div>   
      </div>
    </section>

    <section class="teamSect">
      <h1 class="advisoryText">Advisory team</h1>
      <div class="  advisoryContainer">

        <div class="personContainer">
          <img
            src="https://live.staticflickr.com/65535/52163583548_dc95e98b58.jpg"
            alt="Marylizz Biubwa Positive young women"
          />
          <h4>Marylizz Biubwa</h4>
          <h6>Advisory board Chair</h6>
          <hr />
          <p>
            Marylize Biubwa is a 30 year old black queer intersectional feminist and activist. Her
            activism is on social justice with a deliberate gender bias.  <br> <a href="{%url 'Marylizz'%}">Read more</a>
            
           
          </p>
        </div>

        <div class="personContainer">
          <img
            src="https://live.staticflickr.com/65535/52163582326_4d0130cfda_w.jpg"
            alt="Cynthia Buchira Positive young women"
          />
          <h4>Cynthia Buchira</h4>
          <h6>Advisory board member</h6>
          <hr />
          <p>
            Cynthia Buchira is a young visionary HIV prevention Ambassador and advocate, recently
            appointed as a member of the positive young
            <br> <a href="{%url 'CynthiaBuchira'%}">Read more</a>
           
          </p>
        </div>

        <div class="personContainer">
          <img
            src="https://live.staticflickr.com/65535/52162705442_ff38c360e3.jpg"
            alt="Sharon Nyakundi Positive young women"
          />
          <h4>Sharon Nyakundi</h4>
          <h6>Advisory board member</h6>
          <hr />
          <p>
            Sharon Nyakundi is a 23 year old who is passionate about achieving her dreams and
            goals as a Fashion designer and Model  in life.She  holds <br> <a href="{%url 'SharonNyakundi'%}">Read more</a>
           
          </p>
        </div>

        <div class="personContainer">
          <img
            src="https://live.staticflickr.com/65535/52163822524_5a3476a4c9_z.jpg"
            alt="Marimpet Nairuko Positive young women || pywv"
          />

          <h4>Terry Nairuko</h4>
          <h6>Advisory board member</h6>
          <hr />
          <p>
            Terry is passionate about Women Empowerment and SRHR Advocacy. She hopes to
            live in a world where girls and young women have the <br> <a href="{%url 'Terry'%}">Read more</a>
            
           
          </p>
        </div>

        <div class="personContainer">
          <img
            src="https://live.staticflickr.com/65535/52162559812_06ffca2252.jpg"
            alt="Liz Abade Positive young women || pywv"
          />

          <h4>Lizz Abade</h4>
          <h6>Advisory board member</h6>
          <hr />
          <p>
            Lizz Abade is a resourceful customer service representative committed to and driven by the need
            to solve people's problems. <br> <a href="{%url 'Lizz'%}">Read more</a>
            
          </p>
        </div>

        
      </div>
    </section>

  </body>

</html>
{%endblock%}