{%extends 'base.html'%} 
{% load static %}
{%block content%}
{%include 'head.html'%}


    <title>{%block title%}We lead project || pywv {%endblock%}</title>

    <section class="mensSection">
      <div class="holdingContainer">

        <div>
          <h1>We lead project</h1> <br>
         <img src="{%static 'images/welead.jpg'%}" alt="Gender Rights Promotion- pywv">
           <br><br>
          <p>
            We are implementing the <a href="https://hivos.org/program/we-lead/">We Lead  program</a>  in partnership with like-minded civil society organizations working to build advocacy capacities of young women rightsholder groups; these are groups of young women whose sexual reproductive health and rights are often overlooked and marginalized. They include young women living with HIV, young women who identify as lesbians, bisexual, trans or intersex(LBTI), young women living with a disability and young women affected by displacement. <br><br>
            
            The program is supporting them to take the driver’s seat and effectively advocate for their sexual reproductive health and rights. Under this program, PYWV is working with young women living with HIV and young women who identify as LBTI as they advocate and rally duty bearers and the public alike to support and champion for inclusive, accessible and respectable rightsholder tailored SRHR.
            <br> <br>

   
          </p>
        </div>
      </div>
    </section>

{%endblock%}
