body {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(255, 255, 255);
  
}
#preloader{
  background: rgb(255, 255, 255) url(../images/preloader.gif) no-repeat center center ;
  background-size: 30%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10000;
}

.linkedInImg{
  width: 50px;
}
.nameAndLinkedInContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.glow {
   animation: glow 2s infinite alternate;
}
  
@keyframes glow {
  from {
    box-shadow: 0 0 1px -10px #efffef;
  }
  to {
    box-shadow: 0 0 1px 10px #f2dfff;
  }
}


.headerGlow {
  animation: nameGlow 1s infinite alternate;
}
 
@keyframes nameGlow {
 from {
   box-shadow: 0 0 30px -10px #aef4af;
 }
 to {
   box-shadow: 0 0 30px 5px #686868;
 }
}











.word {
  margin: 0px;
  color: white;
  font: 700 normal 30px 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border: #ffffff solid 1px;
}






















.mainImgDiv{
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainImgDiv img{
  width: 100%;
  height: 400px;
  filter: brightness(30%) contrast(1.2);
}
.carousel{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nameDiv{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 900;
  animation: zoomin 3s linear 1;
  align-items: center;
  /* border: #ffffff solid 3px; */
  padding: 20px;
}
@keyframes zoomin {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.nameDiv hr{
  color: white;
}
.nameDiv h2{
  color: white;
  font-weight: 900;
  font-size:50px;
  text-shadow: #000000 2px 2px 30px; 
}

.nameDiv p{
  font-size: 18px ;
  color: #e7e7e7;
  font-weight: 900;
  text-shadow: #000000 1px 1px 1px; 
}
.nameDiv hr{
  width: 30%;
  height: 45px;
  color: #ffffff;
}
.visionMissionLandingSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0 0 0 ;
  
}








.visionMissionLanding{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.coreImgs{
  width: 60px;
}
.valuesDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 0 40px;
}
.valueItemContainer {
  display: flex;
  justify-content: space-between;
}
.coreDivs{
  width: 20%;
  padding: 30px;
  margin-right: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.coreDivs p{
  font-size: 20px;
  text-align: center;
}
.valueItemContainer h4{
  font-size: 20px;
  margin: 20px 0 ;
  text-align: center;
}
.valueItemContainer span{
  font-weight: 800;
  color: #f87000;
  font-size: 25px;
}
.missingS{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.missingS h1 {
  position: absolute;
  margin-bottom: 30px;
  right: 0;
  text-shadow: none;
  font-weight: 900;
  color:#5a8dcf ;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
}
.visionMissionLanding span{
  font-weight: 800;
  color: #f87000;
}
.visionMissionLanding h4{
  font-size: 20px;
  text-align: center;
}
.identifierImgs{
  width: 250px;
  margin-bottom: 60px;
}
.visionMissionLanding div{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.stackblocksLetterSection{
  padding:40px;
  margin: 40px 0 0 0;
  /* background-color: rgb(247, 228, 255); */
}
.newsletterText{
  margin: 0 0 40px 20px;
  font-size: 25px;
}


.fa-circle-dollar-to-slot{
  margin-right: 20px;
  font-size: 30px;
}
.achievementText{
  margin: 100px 0 20px 100px;
  font-size: 25px;
}
.numbersSection{
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgb(249, 206, 255, 0.7),
    rgb(255, 255, 255)
  );
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around; 
}
.numbersContainer :nth-child(3){
  color: rgb(110, 110, 110);
  font-weight: 900;
  font-size: 25px;
}
#more {
  display: none;
}
#myBtn{
  text-decoration-line: underline;
  color: #bb5400;
  font-weight: 800;
  cursor: pointer;
}
body h1 {
  text-shadow: #464646 2px 2px 3px;
}
header{
  position: relative;
  z-index: 1000;
  position: sticky;
  top: 0;
  /* border-bottom: #5a0056 solid 3px; */
  box-shadow: rgb(65, 65, 65) 5px 5px 10px;
}
.headerDiv {
  height: 100px;
  background-color: rgb(255, 221, 235);
  display: flex;
  align-items: center;
  padding: 10px 40px;
  justify-content: space-between;
 
}
.pluSign{
  color: rgb(212, 113, 0);
  font-weight: 900;
  font-size: 40px;
  text-shadow: #000000 1px 1px 2px;
}
.counter-count{
  color: rgb(212, 113, 0);
  font-weight: 900;
  font-size: 60px;
  text-shadow: #000000 1px 1px 2px;
}
.numbersContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: rgba(255, 168, 204, 0.6) solid 1px;
  width: 33.333%;
}

.headerDivMobile{
  display: none;
}
.wobble {
  font-size: 25px;
  color: #000000;
  font-weight: 700;
  text-shadow: none;
}
.js-scroll {
  opacity: 0.7;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wobb {
  0%,
  100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-3px);
  }
  75% {
    transform: translateY(3px);
  }
}

























.intro {
	position: relative;
	width: 100%;
	height: 90vh;
}

.slider {
	float: right;
	position: relative;
	width: 100%;
	height: 100%;

}
.slider li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transition: clip .7s ease-in-out, z-index 0s .7s;
	clip: rect(0, 100vw, 100vh, 100vw);
	display: table;
  background-color: #000;
}
.image1Li{
  background:url(../images/d11.jpg);
  filter: brightness(70%) contrast(1.2);
}
.image2Li{
  background:url(../images/d12.jpg);
  filter: brightness(70%) contrast(1.2);

}
.image3Li{
  background:url(../images/d13.jpg);
  filter: brightness(70%) contrast(1.2);

}
.center-y {
	display: flex;
  flex-direction: column;
  width: 40%;
  position: absolute;
  bottom: 10%;
  left: 15px;
  color: white;
}

.center-y span{
  color: #ff8800;
  font-weight: 900;
  font-size: 40px;
}
.center-y h3 {
	font-size: 30px;
	font-weight: 900;
  text-shadow: #000 1px 1px 1px;
  /* background-color: rgba(255, 115, 0, 0.8); */
  padding: 30px;
  border: rgb(242, 209, 255) solid 1px; 
  box-shadow: rgb(246, 212, 255) 5px 5px 50px;
  border-radius: 50px 0px 50px 0;

  background: linear-gradient(130deg, rgb(255, 115, 0, 0.8), rgb(180, 180, 180, 0.8), rgba(255, 0, 128, 0.8));
    background-size: 200% 200%;
    -webkit-animation: GradientAnimation 4s ease infinite;
    -moz-animation: GradientAnimation 4s ease infinite;
    animation: GradientAnimation 4s ease infinite;

}
/* .center-y h3 + a {
	font-size: 1.6rem;
	display: inline-block;
	color: #fff;
	margin-top: 2rem;
} */
.center-y h3, h3 + a {
	opacity: 0;
	transition: opacity .7s 0s, transform .5s .2s;
	transform: translate3d(0, 50%, 0);
}
.slider li.current h3, li.current h3 + a {
	opacity: 1;
	transition-delay: 1s;
	transform: translate3d(0, 0, 0);
}
.slider li.current {
	z-index: 1;
	clip: rect(0, 100vw, 100vh, 0);
}
li.prev {
	clip: rect(0, 0, 100vh, 0);
}
.slider nav {
	position: absolute;
	bottom: 5%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}
.slider nav a {
	display: inline-block;
	border-radius: 50%;
	width: 1.2rem;
	height: 1.2rem;
  min-width: 12px;
  min-height: 12px;
	background: #fff;
	margin: 0 1rem;
  transition: transform .3s;
}
.slider a.current_dot {
	transform: scale(1.4);
}





















#slideshow {
	margin: 0 auto;
	height: 450px;
	width: 100%;
	background-color: #222222;
	box-sizing: border-box;
  padding: 40px 0 0 0;
}

.entire-content {
	margin: auto;
	width: 190px;
	perspective: 1000px;
	position: relative;
	padding-top: 80px;
}

.content-carrousel {
	width: 100%;
	position: absolute;
	float: right;
	animation: rotar 15s infinite linear;
	transform-style: preserve-3d;
}

.content-carrousel:hover {
	animation-play-state: paused;
	cursor: pointer;
}

.content-carrousel figure {
	width: 100%;
	height: 120px;
	border: 1px solid #3b444b;
	overflow: hidden;
	position: absolute;
}

.content-carrousel figure:nth-child(1) {
	transform: rotateY(0deg) translateZ(300px); 
} .content-carrousel figure:nth-child(2) {
	transform: rotateY(40deg) translateZ(300px); 
} .content-carrousel figure:nth-child(3) {
	transform: rotateY(80deg) translateZ(300px); 
} .content-carrousel figure:nth-child(4) {
	transform: rotateY(120deg) translateZ(300px); 
} .content-carrousel figure:nth-child(5) {
	transform: rotateY(160deg) translateZ(300px); 
} .content-carrousel figure:nth-child(6) {
	transform: rotateY(200deg) translateZ(300px); 
} .content-carrousel figure:nth-child(7) {
	transform: rotateY(240deg) translateZ(300px); 
} .content-carrousel figure:nth-child(8) {
	transform: rotateY(280deg) translateZ(300px); 
} .content-carrousel figure:nth-child(9) {
	transform: rotateY(320deg) translateZ(300px); 
} .content-carrousel figure:nth-child(10) {
	transform: rotateY(360deg) translateZ(300px); 
} 

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

.content-carrousel img {
	image-rendering: auto;
	transition: all 300ms;
	width: 100%;
	height: 100%;
}

.content-carrousel img:hover {
	transform: scale(1.2);
	transition: all 300ms;
}

@keyframes rotar {
	from {
		transform: rotateY(0deg);
	} to {
		transform: rotateY(360deg);
	}
}














.addPostSection {
  padding:40px 200px;
  background-image: linear-gradient(rgb(255, 221, 235), rgb(255, 95, 162));

}
.form-group{
 background-color: white;
  padding: 40px;
}
.addPostSection h2{
  font-weight: 800;
}
.addPostSection h1{
  color: #006d5b;
  font-weight: 800;
  text-shadow: #ffffff 2px 2px 2px;
}
.form-group label{
  font-weight: 800;
  margin-bottom: 20px;
}
.form-group button{
  width: 100%;
}


.wobble span {
  animation-name: wobb;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1000ms;
  display: inline-block;
  transform: translateY(0px);
}
@keyframes moveLeft {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveDown {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes zoomin {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.headerDiv li {
  display: inline;
  margin-left: 20px;
}
nav{
  margin: 15px 0 0 0;
}
.headerDiv a {
  color: #00545f;
  text-decoration: none;
  font-weight: 900;
  font-size: 20px;
  margin: 0;
}
.headerDiv li:hover {
  color: #e8491d;
  text-decoration-line: underline; 
  text-decoration-color: #006d5b;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
}

.headerDiv a:hover {
  color: #e8491d;
  text-decoration-line: underline; 
  text-decoration-color: #006d5b;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
}
.logo {
  height: 80px;
  width: 80px;
  /* background-color: #f9e2ff; */
}
.socials{
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials img {
  width: 40px;
}

.resourcesBTN {
  position: relative;
  cursor: pointer;
  color: #00545f;
  text-decoration: none;
  font-weight: 900;
  font-size: 20px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.resourcesBTNWhat {
  position: relative;
  cursor: pointer;
  color: #00545f;
  text-decoration: none;
  font-weight: 900;
  font-size: 20px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.resourcesBTN:hover {
  color: #e8491d;
}
.resourcesBTNAboutUs {
  position: relative;
  cursor: pointer;
  color: #00545f;
  text-decoration: none;
  font-weight: 900;
  font-size: 20px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.resourcesBTNAboutUs:hover {
  color: #e8491d;
}
.resourcesBTNWhat:hover {
  color: #e8491d;
}
.dropdown-content {
  position: absolute;
  left: 730px;
  top: 80px;
  border-radius: 10px;
  background-color: rgb(250, 227, 255);
  z-index: 2;
  padding: 20px;
  display: none;
}


.dropdown-contentWhat {
  position: absolute;
  left: 450px;
  top: 80px;
  border-radius: 10px;
  background-color: rgb(250, 227, 255);
  z-index: 2;
  padding: 20px;
  display: none;
}



.personSection{
  padding: 100px;
  background-image: linear-gradient(rgb(255, 221, 235), rgb(255, 95, 162));
  display: flex;
  align-items: center;
  justify-content: center;
}

.myDiv{
  background-color: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: row;
}

.personImg{
  width: 300px;
  height: 300px;
  margin-right: 40px;
}
.myDiv h4{
  color: #006d5b;
  font-weight: 700;
}
.myDiv h6{
  color: #b86200;
}


.holdingContainer img{
 width: 100%;
 height: 400px;
  
}
.mensSection{
  padding: 40px 300px;
  background-image: linear-gradient(rgb(255, 221, 235), rgb(131, 0, 87));

}
.holdingContainer{
  display: flex;
  padding: 40px;
  background-color: white;
}

.holdingContainer h1{
  text-shadow: none;
  color: #006d5b;
  font-weight: 800;
}
.holdingContainer p{
  font-size: 20px;
}


.dropdown-contentAboutUs {
  position: absolute;
  left: 500px;
  top: 80px;
  border-radius: 10px;
  background-color: rgb(250, 227, 255);
  z-index: 1;
  padding: 20px;
  display: none;
}
.menuIcon{
  display: none;
 
}
.show {
  display: block;
}
.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  border: #ffffff solid 2px;
  border-radius: 40px 0 0 40px;
  padding: 0 0 0 20px;

  background: linear-gradient(130deg, #ebd3ff, #ffffff, #ffa3a3);
    background-size: 200% 200%;
    -webkit-animation: GradientAnimation 10s ease infinite;
    -moz-animation: GradientAnimation 10s ease infinite;
    animation: GradientAnimation 10s ease infinite;
}

@-webkit-keyframes GradientAnimation {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@-moz-keyframes GradientAnimation {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@keyframes GradientAnimation { 
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}


.current {
  color: rgb(255, 255, 255);
  text-shadow: #000000 1px 1px 1px;
}
.donateBTN {
  width: 100px;
  margin-left: 50px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(173, 0, 116);
  color: white;
  font-weight: 700;
  border-width: 1px;
  border-color: white;
  box-shadow: rgba(0, 0, 0, 0.6) 3px 3px 10px;
  cursor: pointer;
  transition: transform 0.9s;
}
.donateBTN:hover {
  transform: scale(1.1);
  background-color: #000000;
  color: white;
}
.displaySection {
  height: 385px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgb(255, 221, 235), rgb(255, 95, 162));
}

.displayImg {
  width: 700px;
  position: absolute;
  right: 0;
  animation: zoomin 1s linear 1;
}
.leftDispCntainer {
  width: 45%;
  margin: 40px;
  animation: moveLeft 1s linear 1;
}
.displaySection h1 {
  color: white;
  font-size: 60px;
}
.displaySection h3 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-shadow: #5f5f5f 2px 2px 2px;
  background-color: rgb(173, 0, 116);
  width: 50%;
}
.whoAreWeContainer {
  padding: 40px 40px 0 40px;
  display: flex;
  flex-direction: row;
}
.whoAreWeContainer h2 {
  font-size: 40px;
  margin: 0;
}

.whoAreWeContainer img {
  width: 400px;
  margin-right: 40px;
}

.whoAreWeContainer span {
  color: #00545f;
  font-size: 20px;
  font-weight: 700;
}
.whoAreWeContainer a {
  color: #e8491d;
  font-weight: 800;
}
.whatWeDoContainer {
  padding: 100px 50px 0px 50px;
  justify-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.items {
  display: flex;
  justify-content: space-between;
}
.items h3 {
  color: #00545f;
}
.items img {
  width: 100px;
}
.whatWeDoContainer h3 {
  text-align: center;
}
.whatWeDoContainer p {
  text-align: center;
}
.items div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  justify-content: space-between;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 233, 253),
    rgb(255, 242, 251),
    rgb(230, 230, 230)
  );
  background-color: rgb(255, 233, 253);
  padding: 20px;
  width: 380px;
  height: 480px;
  border-radius: 20px;
}

.didi {
  transition: transform 0.9s;
  cursor: pointer;

}

.didi:hover {
  box-shadow: #dbdbdb 5px 0px 10px;
  transform: scale(1.1);
}
.subInContact{
  width: 300px;
}

.whatBTN {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background-color: transparent;
  font-weight: 800;
  color: #e8491d;
  cursor: pointer;
  transition: transform 0.9s;
  border: solid 1px #c0c0c0;
}
.whatBTN:hover {
  /* transform: scale(1.2); */
  background-color: #000000;
  color: white;
  border-radius: 10px;
}






.healthcareSection {
  padding: 40px;
  justify-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgb(255, 221, 235), rgb(131, 0, 87));
}
.healthcareSection h1{
  color: white;
  margin-bottom: 40px;
  text-align: center;
  text-shadow: #000000 2px 2px 3px;
  font-weight: 900;
}
.healthcareSection h5{
  font-weight: 900;
  color: #006d5b;
  /* background-color: white; */
  padding: 20px;
  text-align: center;
  margin-bottom: 40px;
  text-shadow: white 1px 1px 1px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.healthcareSection span{
  color: #ff7300;
}
.healthcareItems {
  display: flex;
  justify-content: space-around;

}
.healthcareItems h3 {
  color: #00545f;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  margin: 20px 0;
}
.healthcareItems img {
  width: 100px;
}

.healthcareSection p {
  text-align: center;
}
.healthcareItems div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  justify-content: space-between;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 233, 253),
    rgb(255, 242, 251),
    rgb(230, 230, 230)
  );
  background-color: rgb(255, 233, 253);
  padding: 20px;
  width: 270px;
  border-radius: 20px;
}
.resourcesDiv div{
  width: 600px;
}
.healthDivs div{
  width: 400px;
}






.ourActivitiesTextAbsolute {
  font-size: 30px;
  margin-top: 40px;
  color: white;
  text-align: center;
}

.activitiesHomeSection {
  padding: 40px 40px 40px 50px;
  background-image: linear-gradient(
    to top right,
    rgb(255, 248, 254),
    rgb(255, 241, 251),
    rgb(245, 248, 255)
  );
  background-color: rgb(255, 233, 253);

  display: flex;
  justify-content: space-between;
}
.actButton {
  width: 380px;
  height: 40px;
  background-color: transparent;
  color: #000000;
  margin-top: 20px;
  border: solid 1px #000000;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.9s;
}
.actButton:hover {
  background-color: rgb(122, 0, 112);
  color: #ffffff;
  border: solid 1px #000000;
  font-weight: 700;
  cursor: pointer;
  border-radius: 20px;
  transform: scale(1.1);
}
.actsContaToHold {
  display: flex;
  width: 60%;
}
.actsContaToHold a {
  color: #e8491d;
  font-weight: 900;
  font-size: 16px;
}
.actsContaToHold img {
  width: 380px;
  height: 380px;
  margin-right: 50px;
  box-shadow: #aaaaaa 2px 2px 20px;
  cursor: pointer;
  transition: transform 0.9s;
}
.actsContaToHold img:hover {
  border-radius: 20px;
  transform: scale(1.1);
}
.actsContaToHold h4 {
  color: #00545f;
  margin: 0;
}

.resourcesSection {
  padding: 40px;
  background-image: linear-gradient(rgb(255, 233, 253), rgb(255, 170, 206));
  background-color: rgb(255, 233, 253);
}
.numbersContainer img{
  width: 100px;
}
.resourcesSection h2 {
  font-size: 50px;
  text-decoration-line: underline;
  text-decoration-color: #e8491d;
  position: absolute;
}
.imgItems {
  margin-top: 50px;
}
.imgItems img {
  width: 400px;
  box-shadow: #a0a0a0 2px 2px 100px;
  cursor: pointer;
  margin-right: 20px;
}
.longLine {
  margin-top: 100px;
  color: #e8491d;
}

.abSectionPage {
  background-image: linear-gradient(rgb(255, 221, 235), rgb(255, 239, 245));
  padding: 0px 40px 40px 40px;
}
.aboutMiniContainer {
  display: flex;
  align-items: center;
  box-shadow: rgba(110, 110, 110, 0.2) 20px 20px 15px;
}
.aboutMiniContainer img {
  width: 400px;
}
.aboutParaContainer span {
  color: #00545f;
  font-weight: 700;
  font-size: 25px;
}
.aboutParaContainer {
  margin: 50px 40px;
}
.aboutParaContainer h1 {
  color: #ffffff;
  font-size: 50px;

}
.vissMissContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.vissMissContainer div {
  width: 25%;
}
.vissMissSection {
  padding: 40px 200px;
  background-image: linear-gradient(rgb(255, 239, 245), rgb(255, 179, 210));
}
.vissMissSection h2 {
  color: #ffffff;
  text-shadow: #000000 2px 2px 5px;
  font-size: 20px;
}
.activitiesSection {
  background-image: linear-gradient(rgb(255, 179, 210), rgb(255, 239, 245));
  background-color: rgb(255, 233, 253);
  padding: 40px;
}
.actsMiniCont {
  display: flex;
  align-items: center;
  box-shadow: rgba(110, 110, 110, 0.2) 20px 20px 15px;
  display: flex;
  padding: 40px;
  justify-content: space-between;
}
.holder img {
  width: 100%;
  border-radius: 20px;
  height: 130px;
}
.holder {
  width: 200px;
  
}
.partnersSection{
  display: flex;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
}
.partnersSection img{
  width: 150px;
}

.activitiesSection h2 {
  color: #ffffff;
  text-shadow: #000000 2px 2px 5px;
  font-size: 20px;
  margin-top: 40px;
}
.actsText {
  color: #00545f;
  text-align: center;
  font-size: 50px;
}
.reachUs {
  padding: 50px 200px;
  background-image: linear-gradient(rgb(255, 221, 235),rgb(128, 0, 51));

}
.contColl{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
 
}
.reachDiv{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px 0;
}
.leftColored {
  background-color: #444444;
  width: 40%;
  border-radius: 20px;
}
.formDiv {
  width: 30%;
}
.formDiv h1 {
  margin: 0;
}
.reachUs form {
  display: flex;
  flex-direction: column;
}
.reachUs input {
  height: 40px;
  border-radius: 10px;
  padding: 0 20px;
}
.reachUs label {
  color: rgb(0, 0, 0);
  margin: 20px 0;
}
.reachUs textarea {
  border-radius: 10px;
  padding: 20px;
  height: 100px;
}
.reachUs h1 {
  font-size: 30px;
  color: #00545f;
  text-shadow: none;
  font-weight: 700;
  margin-bottom: 30px;
}
.reachUs h2 {
  font-size: 30px;
  color: #ffffff;
  text-shadow: black 2px 2px 3px;
  font-weight: 700;
  margin-bottom: 60px;

}
.subBtn {
  margin-top: 20px;
  background-color: purple;
  color: white;
  border-radius: 10px;
  font-weight: 700;
  box-shadow: white 2px 2px 5px;
  margin-top: 40px;
  cursor: pointer;
  height: 50px;
  
}
.reachUs h4 {
  color: white;
  margin-bottom: 40px;
}
.leftColored {
  padding: 40px;
}
.leftColored img {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}
.leftColored h5 {
  color: white;
  font-size: 16px;
}
.leftColored span {
  color: #c0c0c0;
}
.leftColored a {
  text-decoration-line: none;
  color: white;
}
.leftColored a:hover {
  text-decoration-line: underline;
  color: rgb(247, 90, 0);
}
.teamSection {
  padding: 40px ;
  background-image: linear-gradient(rgb(255, 221, 235), rgb(255, 255, 255));
}
.teamSect {
  padding: 40px;
  background-color: white;
}
.meetText {
  text-align: center;
  font-size: 50px;
  text-shadow: #000000 2px 2px 5px;
  color: #ffffff;
  margin: 0 0 40px 0;
}
.advisoryText {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 40px;
  margin-bottom: 20px;
  text-shadow: #000000 2px 2px 3px;
}
.personContainer {
  width: 250px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: #a1a1a1 2px 2px 10px;
  background-image: linear-gradient(
    to bottom right,
    rgb(231, 231, 231),
    rgb(255, 245, 252),
    rgb(245, 248, 255)
  );
  margin-bottom: 20px;
}
.advisoryContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  flex-wrap: wrap;

}
.personContainer img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: solid 2px rgb(218, 153, 255);
  margin-bottom: 30px;
}
.advisoryContainer p {
  text-align: center;
  margin-top: 30px;
}
.advisoryContainer h4 {
  text-align: center;
  color: #00545f;
  font-weight: 800;
  margin-bottom: 20px;
}
.advisoryContainer h6 {
  text-align: center;
  color: gray;
  font-weight: 700;
}
.advisoryContainer a{
  color: rgb(247, 90, 0);
}
.adoptSection {
  padding: 40px;
  background-image: linear-gradient(rgb(255, 221, 235), rgb(80, 0, 73));
}

.imgAndTxtContainer div {
  background-color: white;
  padding: 40px;
}
.imgAndTxtContainer a {
  color: #e8491d;
  font-weight: 900;
}
.imgAndTxtContainer a:hover {
  color: #9e009e;
}
.imgAndTxtContainer h2{
  color: #006d5b;
  font-weight: 700;
}
.imgAndTxtContainer span {
  font-weight: 700;
}
.imgAndTxtContainer img {
  width: 400px;
}
.newsMiniContainer {
  height: 350px;
  width: 250px;
  background-color: white;
  padding: 20px;
  border: #929292 solid 1px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.recentPostsSection {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(224, 177, 255));
}
.card-body{
  position: relative;
}
.authAndDate{
  position: absolute;
  bottom: 30px;

}
.authAndDate hr{
  width: 100%;
}
.allPostsDiv {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(243, 243, 243);
  margin: 35px;
  border: #919191 solid 1px;
}
.allPostSection{
  padding: 40px;
  background-image: linear-gradient(rgb(255, 221, 235), white);
}
.allPostsText{
  margin-left: 100px;
  text-shadow: none;
  font-weight: 700;
  color: #006d5b;
  font-size: 30px;
}
.writerAndDate {
  display: flex;
}
.writerAndDate p {
  color: #929292;
  margin-right: 10px;
  font-size: 12px;
}
.newsMiniContainer img {
  width: 100%;
  height: 45%;
  position: absolute;
  top: 0px;
}
.newsMiniContainer h4 {
  margin: 0;
}
.itCent {
  position: absolute;
  top: 170px;
  margin: 20px;
}
.newsMiniContainer button {
  width: 90%;
  height: 40px;
  margin-top: 0px;
  border-radius: 10px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  position: absolute;
  bottom: 20px;
  border-color: #ffd7a9;
  border-width: 1px;
  cursor: pointer;
}
.newsMiniContainer button:hover {
  background-color: #000000;
  color: white;
}
.newsCollection {
  display: flex;
  justify-content: space-between;
}

.donateSection{
  background-color: white;
  padding: 40px 200px;
  background-image: linear-gradient(rgb(255, 221, 235), rgb(80, 0, 73));
}
.fa-bars{
  font-size: 40px;
  color: #000000;
}
.donateIconAndTextContainer{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.donateSection h1{
  color: #006d5b;
  font-weight: 900;
  text-shadow: none;
}
.innerDonateContainer{
  background-color: white;
  padding: 40px;
}
.visaAndPP{
  width: 100px;
}
.paypalDiv{
  padding: 20px;
  border-radius: 20px;
}
.paypalDiv img{
  width: 200px;
  height: 80px;
}
.otherDonateImgs{
  width: 130px;
  border-radius: 10px;
}
.innerDonateContainer p{
  font-size: 20px;
}
.otherDonOptionsText{
  color: rgb(0, 0, 0);
  text-shadow: #777777 1px 1px 2px;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 25px;
}
.providerContainer{
  height: 250px;
  width: 250px;
  margin: 0 20px 20px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: #cacaca 12px 12px 10px;
}
.providerContainer span{
  color: #868686;
  font-weight: normal;
}
.providerContainer li{
  font-weight: 800;
}
.providerContainer input{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
.payPalAndVisaBtn{
  background-color: #bb5400;
  color: white;
  border: none;
}
.providerHolder{
  display: flex;
  flex-wrap: wrap;
 
}

footer {
  padding: 150px 40px 40px 40px;
  position: relative;
  background-color: #303030;

}

.footerDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 150px;
}
footer h6 {
  color: white;
  cursor: pointer;
}
footer a:hover {
  color: #e8491d;
}
footer a {
  color: rgb(124, 124, 124);
  text-decoration-line: none;
}
footer h4 {
  color: rgb(143, 143, 143);
  position: absolute;
  bottom: 10px;
}
footer h2 {
  color: #a0ffef;
  margin-bottom: 40px;
  font-size: 20px;
}
footer img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.donateBTNFooter {
  width: 200px;
  height: 40px;
  font-weight: 800;
  cursor: pointer;
  transition: transform 0.9s;
}
.donateBTNFooter:hover {
  transform: scale(1.1);
  background-color: #000000;
  color: white;
  border-radius: 10px;
}
.forMail {
  color: #00545f;
  font-weight: 700;
}
.mailInput {
  background-color: transparent;
  border-color: rgb(255, 255, 255);
  height: 40px;
  width: 200px;
  margin-top: 10px;
  padding-left: 20px;
  color: orangered;
}
.submitEmail {
  height: 40px;
  cursor: pointer;
  font-weight: 900;
}

.allCont {
  display: flex;
}
.allCont h3 {
  margin: 0;
  margin-right: 20px;
  color: #006d5b;
  cursor: pointer;
}
.allCont h3:hover {
  color: #e8491d;
  text-decoration-line: underline;
}

.mainImg {
  align-self: center;
  display: flex;
}

.inPost p {
  font-size: 20px;
}
.inPost :nth-child(1) {
  text-decoration-line: underline;
}
.card{
  width: 380px;
  margin-right: 30px;
  cursor: pointer;
  height: 500px;
  margin-bottom: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: rgb(196, 196, 196) 3px solid;
}

.card-title{
  font-weight: 900;
}
.card-link{
  text-decoration: none;
  color: inherit;
}
.card-link:hover{
  color: #ff5e00;
}
.aticleDetailSection{
  padding:40px 200px ;
  background-image: linear-gradient(rgb(255, 239, 245), rgb(165, 0, 66));

}
.articleContainer{
  background-color: white;
  padding: 40px;
}
.aticleDetailSection small{
  font-size:20px ;color:coral
}
.postDetailTitle{
  text-shadow: none;
}
.commentsAddSection{
  padding:40px 200px
}
.commentsAddSection h1{
  text-shadow: none;
  font-weight: 700;
  font-size: 20px;
}
.commentsContainer{
  background-color: rgb(240, 240, 240);
  padding: 40px;
}
.commentMiniContainer{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.feedTexts{
  display:flex ;
  justify-content:space-between; 
  margin:80px 140px 0 120px
}
.letterAndTweets{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blocks{
  width: 60%;
  background-color: #e9e9e9;
  padding: 40px;
}
.tweeOnMobile{
  display: none;
}
.designedBy{
  text-align:center;
  margin-top:40px; 
  color:gray
}
.designedBy a{
  color: coral;
}
.footeLine{
  color: white;
  margin-top: 40px;
}
.bottomMost{
  margin-top: 100px;
}


















@media only screen and (max-width: 600px) {
  .stackblocksLetterSection{
    display: none;
  }
  .intro {
    position: relative;
    width: 100%;
    height: 50vh;
  }
	.slider {
		width: 100%;
		height: 100%;
	}
  .slider nav a {
    width: 10px;
    height: 10px;
    min-width: 12px;
    min-height: 12px;

  }
  .center-y span{
    font-size: 18px;
  }
  .center-y h3 {
    font-size: 16px;
    font-weight: 900;
    padding: 20px;
  }
  .center-y {
    display: flex;
    flex-direction: column;
    width: 70%;
    position: absolute;
    bottom: 50px;
    left: 15%;
  }
  .tweeOnMobile{
    display: flex;
  }

  .logoContainer {
    height: 60px;
    width: 100%;
    border-radius: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0 20px;

    border:none;
    border-radius:0;
    background:none;
  }
  
.logo {
  width: 50px;
  height: 50px;
}
  .headerDiv{
    display: none;
  }
  .headerDivMobile li {
    display: block;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .headerDivMobile a {
    color: #00545f;
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
  }
  .headerDivMobile{
    display: block;
    height: 80px;
    background-color: rgb(255, 221, 235);
    padding: 0px;
    z-index: 1;
    position: sticky;
    top: 0;
    border-bottom: #ffe0f9 solid 1px;
    justify-content: center;
  }
  
  .menuIcon{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #000000;
    border-radius: 50%;
  }
  .openListMobile{
    background-color: rgb(245, 245, 245);
    padding:40px 20px;
    flex-direction: column;
    border-bottom: #adadad solid 1px;
    display: none;
    margin-top: 10px;
   width: 100%;
  }
  .mobileDrop{
    width:300px;
    
  }
.dropdown-menu a {
  width: 100%;
  font-size: 12px;
}
.coreDivs p{
  font-size: 12px;
}
  .displaySection {
    height: 250px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(255, 221, 235), rgb(255, 95, 162));
  }
  
  .displayImg {
    width: 400px;
    position: absolute;
    bottom: 0;
    animation: zoomin 1s linear 1;
  }
  .leftDispCntainer {
    animation: moveLeft 1s linear 1;
    display: none;
  }
  .displaySection h1 {
    color: white;
    font-size: 20px;
  }
  .displaySection h3 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-shadow: #5f5f5f 2px 2px 2px;
    background-color: rgb(173, 0, 116);
    width: 50%;
  }
  .whoAreWeContainer {
    padding: 40px 40px 0 40px;
    display: flex;
    flex-direction: row;
  }
  .whoAreWeContainer h2 {
    font-size: 40px;
    margin: 0;
  }
  
  .whoAreWeContainer img {
    width: 400px;
    margin-right: 40px;
    display: none;
  }
  
  .whoAreWeContainer span {
    color: #00545f;
    font-size: 20px;
    font-weight: 700;
  }
  .whoAreWeContainer a {
    color: #e8491d;
    font-weight: 800;
  }

  .whatWeDoContainer {
    padding:40px;   
   
  }
  .items {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .items h3 {
    color: #00545f;
    font-size: 16px;
  }
  .items img {
    width: 80px;
  }
  .whatWeDoContainer h3 {
    text-align: center;
  }
  .whatWeDoContainer p {
    text-align: center;
    font-size: 12px;
  }
  .items div {
    width: 300px;
    height: 380px;
    margin-bottom: 20px;
  }

  .activitiesHomeSection {
    padding: 40px 40px 40px 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .actButton {
    width: 380px;
    height: 40px;
    background-color: transparent;
    color: #000000;
    margin-top: 20px;
    border: solid 1px #000000;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.9s;
  }
  
  .actsContaToHold {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .actsContaToHold a {
    color: #e8491d;
    font-weight: 900;
    font-size: 16px;
    margin-top: 20px;
  }
  .actsContaToHold img {
    width: 280px;
    height: 280px;
    margin-bottom: 20px;
    margin-right: 0;
   
  }
  .actsContaToHold img:hover {
    border-radius: 20px;
    transform: scale(1.1);
  }
  .actsContaToHold h4 {
    color: #00545f;
    margin: 0;
    margin-bottom: 20px;
  }
  .twee{

    padding: 20px;
  }
  
.feedTexts{
  display:flex ;
  justify-content:space-between; 
  margin:40px 20px 0 20px
}
.feedTexts h1,h5{
  font-size: 20px;
}
.recentPostsSection {
  margin: 0px;
  padding: 0px;
  display: flex;
  background-image:none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card{
  margin-bottom: 20px;
  margin-right: 0;
  width: 100%;
  margin-left: 0;
}

footer {
  padding: 150px 40px 40px 40px;
}
.bottomMost h6{
  font-size: 10px;
}
.footerDiv{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin-bottom: 40px;
}
footer h2 {
  color: #a0ffef;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 20px;
}
footer form{
  margin-top: 40px;
}
.aboutMiniContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
}
.aboutMiniContainer img {
  width: 100%;
}
.aboutParaContainer span {
  color: #00545f;
  font-weight: 700;
  font-size: 18px;
}
.aboutParaContainer {
  margin: 20px 0 0 0;
}
.aboutParaContainer h1 {
  color: #ffffff;
  font-size: 25px;
}
.vissMissSection {
  padding: 40px ;
  background-image: linear-gradient(rgb(255, 239, 245), rgb(255, 179, 210));
}
.vissMissContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-direction: column;
}
.vissMissContainer div {
  width: 100%;
}
.actsText{
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}
.actsMiniCont{
  display: flex;
  flex-direction: column;
  padding: 0;
  box-shadow: none;
}
.holder img {
  width: 100%;
  border-radius: 20px;
}
.holder {
  width: 100%;
}
.teamSection{
  padding: 10px;
}
.advisoryContainer {
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: space-around;
}
.advisoryContainer p{
  margin-top: 0px;
}
.meetText{
  font-size: 25px;
}
.personContainer {
  width: 165px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 0 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.personContainer img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 2px rgb(218, 153, 255);
  margin-bottom: 30px;
}
.teamSect{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.teamSect p {
  font-size: 12px;
  
}

.teamSect h4 {
  font-size: 12px;
}
.teamSection p{
  font-size: 12px;
}
.teamSection h4{
  font-size: 12px;
}
.teamSect h6{
  font-size: 12px;
}
.teamSection h6{
  font-size: 12px;
}
.advisoryText{
  font-size: 25px;
  margin-bottom: 20px;
}
.imgAndTxtContainer p{
  font-size: 12px;
}

.imgAndTxtContainer div{
  padding: 20px;
}
.imgAndTxtContainer h2{
  font-size: 20px;
}
.imgAndTxtContainer a{
  font-size: 12px;
}
.imgAndTxtContainer h5{
  font-size: 14px;
  font-weight: 700;
}
.leftColored {
  display: none;
}
.formDiv{
  width: 100%;
  background-color: white;
  padding: 20px;
}
.reachUs{
  padding: 20px;
  background-image: linear-gradient(rgb(255, 221, 235), rgb(80, 0, 73));

  
}
.reachUs input {
  height: 40px;
  border-radius: 10px;
  padding: 0 20px;
}
.reachUs label {
  color: rgb(0, 0, 0);
  margin: 10px 0;
}
.reachUs textarea {
  border-radius: 10px;
  padding: 20px;
}
.reachUs h1 {
  color: white;
  font-size: 20px;
  color: #00545f;
  text-shadow: none;
  font-weight: 700;
  margin-bottom: 0px;
}
.aticleDetailSection{
  padding:20px ;
  background-image: linear-gradient(rgb(255, 239, 245), rgb(165, 0, 66));

}
.articleContainer{
  background-color: white;
  padding: 20px;
}
.aticleDetailSection small{
  font-size:12px ;
  color:coral
}
.postDetailTitle{
  text-shadow: none;
  font-size: 20px;
  font-weight: 700;
  color: #00545f;
}
.commentsAddSection{
  padding:40px
}
.partnersSection{
  padding: 0 20px;
  margin-bottom: 50px;
  margin-top: 40px;
}
.partnersSection img{
  width: 80px;
}
.donateSection{
  padding: 20px;
}
.innerDonateContainer p{
  font-size: 12px;
}
.otherDonOptionsText{
  font-size: 18px;
  margin-bottom: 20px;
}
.donateSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.donateIconAndTextContainer{
  margin: 0 0 20px 0;
}
.donateIconAndTextContainer h1{
  font-size: 20px;
}
.fa-circle-dollar-to-slot{
  margin-right: 20px;
}
.allPostsDiv {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color:transparent;
  border: none;
  margin: 20px 0 0 20px;
  justify-content: center;
  align-items: center;
}
.allPostsText{
  font-size: 25px;
  margin: 0px 0 10px 40px;
}
.allPostSection{
  padding: 0;
}

.personSection{
  padding: 20px;
  background-image: linear-gradient(rgb(255, 221, 235), rgb(255, 95, 162));
  display: flex;
  align-items: center;
  justify-content: center;
}

.myDiv{
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.personImg{
  width: 330px;
  height: 330px;
  margin-right: 0px;
  text-align: center;
  margin-bottom: 20px;
}
.nameDiv p{
  font-size: 8px;
  margin-top: 0px;
  padding-left: 0px;
}
.nameDiv h5{
  padding-left: 0px;
  font-size: 12px;
}
.nameDiv h2{
  padding-left: 0px;
  font-size: 18px;
}
.nameDiv{
  bottom: 0px;
  padding: 0px;
  z-index: 900;
  width: 70%;
  display: none;
}
.missingS h1 {
  margin-bottom: 2px;
  right: 0;
  font-weight: 900;
  font-size: 20px;
}
.visionMissionLandingSection{
  padding:0 0 0 0 ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.identifierImgs{
  width: 150px;
  margin-bottom: 20px;
}
.visionMissionLanding{
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: space-around;
  margin: 20px 0 20px 0;
  align-items: center;
}
.valuesDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  padding: 0 0px;
  flex-wrap: wrap;
}
.valueItemContainer {
  display: flex;
  justify-content: initial;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;

}
.coreDivs{
  width: 43%;
  margin-right: 0px;
  /* border: #979797 solid 1px; */
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: #9b9b9b 2px 2px 10px;
}
.valueItemContainer h4{
  font-size: 12px;
}
.valueItemContainer span{
  font-weight: 800;
  color: #f87000;
  font-size: 13px;
}
.visionMissionLanding span{
  font-weight: 800;
  color: #f87000;
}
.visionMissionLanding h4{
  font-size: 12px;
  text-align: center;
}
.visionMissionLanding div{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.numbersContainer img{
  width: 40px;
  margin-bottom: 0px;
}
.numbersContainer :nth-child(3){
  font-size: 10px;
  text-align: center;
}
.achievementText{
  margin: 100px 0 0px 20px;
  font-size: 20px;
}
.pluSign{
  font-size: 20px;
}
.counter-count{
  font-size: 20px;
}
.numbersSection{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around; 
}
.numbersContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.stackblocksLetterSection{
  padding:40px  0px;
  margin: 0px 0 0 0;
}
.letterAndTweets{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blocks{
  /* width: 100%;
  background-color: #e9e9e9;
  padding: 0px; */

  display: none;
}
.newsletterText{
  margin: 0 0 20px 20px;
  font-size: 20px;
}
.ourActivitiesTextAbsolute {
  font-size: 20px;
  margin: 0;

}
.partnersSection img{
  width: 50px;
}

.footerDiv iframe{
  width: 100%;
  margin-top: 40px;
}


.healthcareSection {
  padding: 20px ;
  justify-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.healthcareSection h1{
  margin-bottom: 20px;
  text-align: center;
  text-shadow: #000000 2px 2px 3px;
  font-weight: 800;
}
.healthcareSection h5{
  padding: 20px;
  text-align: center;
  margin-bottom: 40px;
  text-shadow: white 1px 1px 1px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-size: 18px;
}

.healthcareSection span{
  color: #ff7300;
}
.healthcareItems {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.healthcareItems h3 {
  text-align: center;
  font-size: 20px;
}
.healthcareItems img {
  width: 70px;
}

.healthcareSection p {
  text-align: center;
}
.healthcareItems div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 20px;
  width: 300px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.holdingContainer img{
  width: 100%;
  height: 200px;
   
 }
 .mensSection{
   padding: 20px;
 }
 .holdingContainer{
   display: flex;
   padding: 10px;
 }
 
 .holdingContainer h1{
   text-shadow: none;
   font-weight: 800;
   margin: 20px 0;
   font-size: 20px;
 }
 .providerHolder{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.providerContainer{
  height: 300px;
  width: 300px;
  margin: 0 20px 20px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 20px 10px;
  box-shadow: #cacaca 12px 12px 10px;
}

.linkedInImg{
  width: 30px;
}
.coreImgs{
  width: 50px;
}
.transparencyformobile{
  width: 100%;
 
}


}








/* 
@media only screen and (max-width: 768px) {
  .logoContainer {
    height: 60px;
    width: 100%;
    border-radius: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0 20px;
  }
  .reachUs{
    padding: 20px;
  }
  
.logo {
  width: 50px;
  height: 50px;
}
  .headerDiv{
    display: none;
  }
  .headerDivMobile li {
    display: block;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .headerDivMobile a {
    color: #00545f;
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
  }
  .headerDivMobile{
    display: block;
    height: 80px;
    background-color: rgb(255, 221, 235);
    padding: 0px;
    z-index: 1;
    position: sticky;
    top: 0;
    border-bottom: #ffe0f9 solid 1px;
    justify-content: center;
  }
  
  .menuIcon{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #000000;
    border-radius: 50%;
  }
  .openListMobile{
    background-color: rgb(245, 245, 245);
    padding: 40px;
    flex-direction: column;
    border-bottom: #adadad solid 1px;
    display: none;
    margin-top: 10px;
   width: 100%;
  }
.dropdown-menu a {
  width: 100%;
  font-size: 12px;
}
.valueItemContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.coreDivs{
  width: 25%;
}
.numbersContainer :nth-child(3){
  color: rgb(110, 110, 110);
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}
.numbersContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.numbersContainer img{
  width: 100px;
  margin-bottom: 40px;
}
.stackblocksLetterSection{
  padding: 0;
}
.letterAndTweets{
  flex-direction: column;
}
.blocks{
  width: 100%;
}
.twee{
  display: none;
}
.recentPostsSection{
  padding: 20px;
  justify-content: space-between;
}
.card{
  margin: 0 0 20px 0;
}
.feedTexts{
  margin: 40px 20px 20px 20px;
}
.partnersSection img{
  width: 100px;
}

footer {
  padding: 150px 40px 40px 40px;
}
.bottomMost h6{
  font-size: 10px;
}
.footerDiv{
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column-reverse;
}
footer h2 {
  color: #a0ffef;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 20px;
}

.footerDiv iframe{
  width: 100%;
  margin: 0;
}
.mensSection{
  padding: 20px;
}
.healthcareItems {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.healthcareItems div{
  margin-bottom: 20px;
}
.donateSection{
  padding: 20px;
}








} */











